
.split-view {
    position: relative;
    background-color: none;
    
    width: 100%;
    height: 100%;

    touch-action: none;
    pointer-events: auto;
}

.split-view .view-container {
    width: 100%;
    height: 100%;
}

.split-view {
    position: absolute;
    height: 100%;
}

.split-view-view {
    position: absolute;
    height: 100%;
}