
.split-view {
    position: relative;
    background-color: none;
    
    width: 100%;
    height: 100%;
}

.split-view > .view-container {
    position: absolute;
    width: 100%;
    height: 100%;

}

.split-view > .sash-container {
    position: absolute;
	width: 100%;
	height: 100%;
    pointer-events: none;
}

.split-view {
    position: absolute;
    height: 100%;
    width: 100%;
}

.split-view-item {
    position: absolute;
    height: 100%;
    width: 100%;
}