#emptyFolderTag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

#tree-container:hover > #emptyFolderTag {
    color: #9f9f95;
}

#tree-container:hover > #emptyFolderTag:hover {
    color: rgb(202, 202, 202);
}

#tree-container:hover > #emptyFolderTag:active {
    color: #9f9f95;
}
