@use 'src/styles/components/visualization';

$menu-item-height: var(--menu-item-height);
$menu-item-focus-background-color: var(--menu-item-focus-background-color);

.menu {
    height: 100%;
    width: auto;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    &:focus {
        outline: none;
    }

    & > .base-item {
        @include visualization.text(none, 10pt, center);

        position: relative;
        cursor: pointer;
        
        height: $menu-item-height;
        width: 100%;
        
        border-radius: 4px;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

        &.disabled {
            color: #bbb;
            cursor: default;
        }

        display: grid;
        grid-template-columns: $menu-item-height auto $menu-item-height;
        
        & > .left-part, .content, .right-part {
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            box-sizing: border-box;
        }
    }

    & > .seperator {
        height: 1px;
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;
        background-color: #bbbbbb;
    }

    & > .menu-item {
        
        &.focused {
            background-color: $menu-item-focus-background-color;
        }

        & > .left-part {
            & > .submenu-item-check {
                font-size: 10px;
            }
        }

        & > .content {
            justify-content: space-between;

            // the ones after the name
            & > .menu-item-name ~ * {
                margin-left: 30px;
            }
        }

        & > .right-part {
            & > .submenu-item-arrow {
                font-size: 10px;
            }
        }
    }
}