@use 'src/styles/components/visualization';

.menu {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
    margin: 0 auto;
    padding: 0;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    &:focus {
        outline: none;
    }

    & > .base-item {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        margin-left: 4px;
        margin-right: 4px;

        &.disabled {
            cursor: default;
        }
    }

    & > .base-item:first-child {
        margin-top: 4px;
    }

    & > .base-item:last-child {
        margin-bottom: 4px;
    }

    & > .seperator {
        width: 1px;
        height: 16px;
        margin: 5px 4px !important;
        cursor: default;
        min-width: 1px;
        padding: 0;
        
        background-color: #bbb;
    }

    & .menu-item {
        width: auto;
        
        margin-left: 5%;
        margin-right: 5%;

        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;

        & > * {
            position: absolute;
            @include visualization.text(none, 10pt, center);
        }

        &.focused {
            background-color: burlywood;
        }

        &.disabled {
            // TODO
        }

        & > .menu-item-name {
            left: 0px;
        }
    
        & > .menu-item-shortcut {
            right: 0px;
        }

        & > .submenu-item-arrow {
            right: 0px;
            font-size: 10px;
        }
    }
}