#function-bar {
    position: relative;
    height: 40px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    
    -webkit-app-region: drag; /* draggable */
}

#function-bar-container {
    position: relative;
    height: 40px;
    width: auto;
    
    display: flex;
    flex-direction: row;
    
}

.function-button,
#expand-collapse {
    width: 40px;
    height: 40px;
    -webkit-app-region: no-drag;
}

.function-button:hover {
    filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
}

.function-button:active {
    filter: invert(35%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
}

.function-button-focus {
    filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
}

.function-button > img,
#expand-collapse > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}
