#function-bar {
    position: relative;
    height: 40px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    
    -webkit-app-region: drag; /* draggable */
}

#function-bar-container {
    position: relative;
    height: 40px;
    width: auto;
    
    display: flex;
    flex-direction: row;
    
}

.function-button,
#expand-collapse {
    width: 40px;
    height: 40px;
    -webkit-app-region: no-drag;
}

.function-button:hover {
    background-color: rgb(230, 230, 230);
}

.function-button:active {
    background-color: rgb(245, 245, 245);
}

.function-button-focus {
    background-color: rgb(230, 230, 230);
}

.function-button > img,
#expand-collapse > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}

#mode-switch {

}
