#window-bar {
    position: absolute;
    right: 0px;
    
    width: auto;
    height: 40px;
    
    display: grid;
    align-items: center;
}

#window-bar .widget-item {
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 40px;
    height: 40px;
}

#window-bar .widget-item > img {
    margin-left: 14px;
    margin-right: 14px;
}

.toggleBtn {
    -webkit-app-region: no-drag;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

.toggleBtn:hover {
    background-color: rgb(230, 230, 230);
}

.toggleBtn:active {
    background-color: rgb(245, 245, 245);
}

.closeToggleBtn:hover {
    background-color: rgb(255, 27, 27);
}

.closeToggleBtn:active {
    background-color: rgb(255, 126, 126);
}