@font-face {
    font-family: "icons";
    src: url("src/base/browser/font/icons.woff?9f67214ed25105b16c7eb5e4666f33d6") format("woff"),
url("src/base/browser/font/icons.woff2?9f67214ed25105b16c7eb5e4666f33d6") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
    content: "\f101";
}
.icon-angle-right:before {
    content: "\f102";
}
.icon-book:before {
    content: "\f103";
}
.icon-caret-left:before {
    content: "\f104";
}
.icon-caret-right:before {
    content: "\f105";
}
.icon-check-mark:before {
    content: "\f106";
}
.icon-close:before {
    content: "\f107";
}
.icon-file:before {
    content: "\f108";
}
.icon-git:before {
    content: "\f109";
}
.icon-list:before {
    content: "\f10a";
}
.icon-max-restore:before {
    content: "\f10b";
}
.icon-max:before {
    content: "\f10c";
}
.icon-md-split:before {
    content: "\f10d";
}
.icon-md-wysiwyg:before {
    content: "\f10e";
}
.icon-min:before {
    content: "\f10f";
}
.icon-resize-vertical:before {
    content: "\f110";
}
.icon-search:before {
    content: "\f111";
}
.icon-setting:before {
    content: "\f112";
}
.icon-tabs:before {
    content: "\f113";
}
.icon-text:before {
    content: "\f114";
}
.icon-three-dots:before {
    content: "\f115";
}
