#action-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px; /* prevent resizing */
    height: 100%;
    background-color: #273137;

    color: white;
}

#action-view-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#action-content-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#resize {
    position: absolute;
    right: 0px;

    width: 2px;
    height: 100%;
    
    cursor: w-resize;
    background-color: #273137;
    transition: 0.2s;
}

#resize:hover {
    background-color: #ccc;
}

#action-view-top {
    position: relative;
    
    width: 100%;
    height: 40px;
    
    display: flex;
    flex-direction: row;

    -webkit-app-region: drag; /* draggable */
}

#action-view-top > .pureText {
    position: absolute;
    
    color: grey;
    
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;

    margin-left: 10px;
}

#action-view-top > img {
    position: absolute;
    right: 0px;
    
    width: 10px;
    height: 10px;

    cursor: pointer;

    padding: 5px;
    border-radius: 5px;

    margin-right: 20px;
    
    -webkit-app-region: no-drag;
}

#action-view-top > img:hover {
    background-color: #e0e0e0;
}
