@use 'src/styles/settings/constants' as const;
    
.context-menu {
    
    z-index: const.$z-index-medium;
    height: auto;
    width: auto;
    overflow: hidden;

    border-radius: 4px;
    background-color: #c3c3c3;

    & .base-item {

        min-width: 100px;
        width: 150px;
        height: 30px;
        background-color: rgb(225, 225, 225);
    }
}