
.widget-bar {
    white-space: nowrap;
	height: 100%;
}

.widget-bar > .widget-list {
	display: flex; /* Default is displaying horizontal bar */
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	align-items: center;
}

.widget-list > .widget-item {
    display: block;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;  /* DO NOT REMOVE */
}
