

.list-view-container > .list-view-row {
    
    & .explorer-item {
        margin-left: 7.2px;
        position: relative;
        display: flex;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}