
.file-tree-container > .list-view > .list-view-container > .list-view-row {
    /* 
    The reason using a `outline` instead of `border` is because border is 
    counted as part of the element's dimension and that affects the drag and 
    drop detection.
     */
    outline: 1px solid transparent;
    outline-offset: -1px; /* make the outline placed inside the row. */
    
    // pseudo element for display mouse interaction (focused, selected, hovered)
    &::before {
        content: '';
        
        outline: 1px solid transparent;
        outline-offset: -1px; /* make the outline placed inside the row. */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 95%;
        height: 100%;
        border-radius: 10px;
        
        background-color: transparent;
        transition: background-color 0.3s;
    }

    &.hovered::before {
        background-color: var(--nota-explorer-item-hovered-background);
    }
    
    &.selected::before {
        background-color: var(--nota-explorer-item-selected-background);
    }
    
    &.focused::before {
        outline: 1px solid var(--nota-explorer-item-focused-background);
    }

    /** explicitly display anchor (only for testing purpose) */
    // &.anchor::before {
    //     background-color: #ff0000 !important;
    // }
    
    & > .tree-list-row > .icon {
        font-size: 12px;
    }

    & .explorer-item {
        margin-left: 7.2px;
        position: relative;
        display: flex;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}