@use 'src/styles/components/layout';
@use 'src/styles/components/visualization';

#explorer-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .opened-explorer-container, .empty-explorer-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    & .opened-explorer-container {
        display: flex;
        flex-direction: column;

        // note: make sure 'file-tree-container' only contain one element
        & > .file-tree-container {
            width: 100%;
            height: 100%;

            // make sure list-view cannot exceeds the sight of the container
            overflow: hidden;
        }

        & > .file-button-bar {
            display: flex;
            flex-direction: column;
            
            width: 100%;
            height: 70px;

            & > .file-button-bar-container {
                width: 100%;
                
                display: flex;
                justify-content: space-between;
                
                padding: 3px;
                padding-bottom: 3px;


                // left some spaces
                & > .widget-bar {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
            
            & > .filter-by-tag-container {
                width: 100%;

                display: flex;
                flex-direction: row;

                padding: 4px;
                padding-bottom: 4px;

                // TODO: shit style code here (Chris)
                & .button { // style only for filter-by-tag icon
                    border: none !important;
                    top: 5px !important;
                    height: 10px !important;
                    background-color: transparent !important;
                    top: 0px !important;

                    & .icon {
                        color: var(--nota-filter-by-tag-icon) !important;
                        font-size: 16px !important;
                    }
                }

                & .filter-by-tag-text {
                    color: var(--nota-filter-by-tag-text);
                }
            }
            
            // TODO: shit style code here (Chris)
            & .button {
                height: 28px;
                width: 28px;
                background-color: var(--nota-file-button-background);
                line-height: 30px;
                margin-left: 4px;
                margin-right: 4px;
                border-radius: 50%; /* Make it a circle */
                display: flex;
                justify-content: center;
                align-items: center;

                & .icon {
                    color: var(--nota-file-button-foreground);
                    margin-top: 5.5px; /* ensure icon is in center of button */
                    font-size: 18px;
                    &:hover {
                        color: var(--nota-file-button-foreground-hover);
                    }
                }

                &:hover {
                    background-color: var(--nota-file-button-background-hover);
                }

                &.clicked {
                    background-color: var(--nota-file-button-background-active);
                    box-shadow: 0 0 0 1.4px var(--nota-file-button-box-shadow-active) inset;
                    & .icon {
                        color: var(--nota-file-button-foreground-active);
                    }
                }
            }
        }
    }
    
    & .empty-explorer-container {

        & > .explorer-open-tag {
            color: transparent;
            transition: 0.1s;
            @include layout.vertical-center;
            @include visualization.text(none, 10pt, center);

            &:hover {
                cursor: pointer;
            }
        }
        
        &:hover > .explorer-open-tag {
            color: #9f9f95;
        }
        
        &:hover > .explorer-open-tag:hover {
            color: rgb(202, 202, 202);
        }
        
        &:hover > .explorer-open-tag:active {
            color: #9f9f95;
        }
    }
}