@use 'src/styles/components/layout';
@use 'src/styles/components/visualization';

#explorer-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .opened-explorer-container, .empty-explorer-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    & .opened-explorer-container {
        
        & > .filebuttonbar {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            z-index: 10;
            width: 91%; // adjust this to change space on sides
            margin: 0 auto;
            height: 70px;
            pointer-events: none;

            &.invisible {
                opacity: 0;
            }
            
            &.visible {
                opacity: 1;
            }
            
            & > .filebuttonbar-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 6px;
                border-radius: 8px;
                background-color: var(--navigationbar-container-background); // TODO
                pointer-events: initial;
            }
            
            & > .filterbytag-container {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end; 
                margin-top: 8px;
                margin-bottom: 4px;
                flex-direction: row-reverse;

                & .button { // style only for filter-by-tag icon
                    border: none !important;
                    top: 5px !important;
                    height: 10px !important;
                    background-color: transparent !important;
                    top: 0px !important;

                    & .icon {
                        color: #b5b5b5 !important;
                        font-size: 16px !important;
                    }
                }

                & .filterbytag-text {
                    color: #5a564d;
                }
            }
            
            & .button {
                height: 28px;
                width: 28px;
                background-color: #eaeaea;
                line-height: 30px;
                margin-left: 4px;
                margin-right: 4px;
                border-radius: 50%; /* Make it a circle */
                display: flex;
                justify-content: center;
                align-items: center;

                & .icon {
                    color: #949393;
                    margin-top: 5.5px; /* ensure icon is in center of button */
                    font-size: 18px;
                    &:hover {
                        color: #5a564d;
                    }
                }

                &:hover {
                    background-color: #d0ebe3;
                    color: #5a564d;
                }

                &.clicked {
                    background-color: #d0ebe3;
                    box-shadow: 0 0 0 1.4px #a3d0c3 inset;
                    & .icon {
                        color: #5a564d;
                    }
                }
            }
        }
    }
    
    & .empty-explorer-container {

        & > .explorer-open-tag {
            color: transparent;
            transition: 0.1s;
            @include layout.vertical-center;
            @include visualization.text(none, 10pt, center);

            &:hover {
                cursor: pointer;
            }
        }
        
        &:hover > .explorer-open-tag {
            color: #9f9f95;
        }
        
        &:hover > .explorer-open-tag:hover {
            color: rgb(202, 202, 202);
        }
        
        &:hover > .explorer-open-tag:active {
            color: #9f9f95;
        }
    }
}