.sash {
    position: absolute;
    background-color: none;
    pointer-events: initial;
    user-select: none;

    &.vertical {
        cursor: ew-resize;
        height: 100%;
    }
    
    &.horizontal {
        cursor: ns-resize;
        width: 100%;
    }
    
    &.hover {
        background-color: var(--nota-sash-hover);
    }
    
    &.disable {
        pointer-events: none;
    }
    
    &.visible {
        background-color: var(--nota-sash-visible-background);
        opacity: 0.05;
    }
}