.sash {
    position: absolute;
    background-color: none;
    pointer-events: initial;
    user-select: none;
}

.sash.vertical {
    cursor: ew-resize;
	height: 100%;
}

.sash.horizontal {
    cursor: ns-resize;
	width: 100%;
}

.sash.hover {
    background-color: gainsboro;
}

.sash.disable {
    pointer-events: none;
}

.sash.visible {
    background-color: black;
    opacity: 0.05;
}