:root {
	--sash-size: 4px;
}

.sash {
    position: absolute;
    background-color: none;

    background-color: black;

    pointer-events: initial;
    user-select: none;
}

.sash-vertical {
    cursor: ew-resize;
	width: var(--sash-size);
	height: 100%;
}

.sash-horizontal {
    cursor: ns-resize;
	width: 100%;
	height: var(--sash-size);
}

.sash:hover {
    background-color: blue;
}