.sash {
    position: relative;

    background-color: #f8f9f9;
    
    width: 2px;
    height: 100%;

    z-index: 101;
    
    cursor: w-resize;
    /* transition: 0.2s; */
}

.sash:hover {
    background-color: #d1d1d1;
}