:root {
	--sash-size: 4px;
}

.sash {
    position: relative;
    background-color: none;
    height: 100%;

    background-color: aquamarine;

    pointer-events: initial;
    user-select: none;
}

.sash-vertical {
    cursor: ew-resize;
	width: var(--sash-size);
	height: 100%;
}

.sash-horizontal {
    cursor: ns-resize;
	width: 100%;
	height: var(--sash-size);
}

.sash:hover {
    background-color: #c5ffec;
}