.funcText {
    cursor: pointer;
    user-select: none; 
}

.pureText {
    user-select: none; /* cannot select character */
}

.button {
    transition: 0.1s;
    -webkit-app-region: no-drag;
    cursor: pointer;
    user-select: none;
}

.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.captialize {
    text-transform: capitalize;
}

@keyframes fade-in {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes fade-out {
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(102%) contrast(101%);
}

.filter-black {
    filter: invert(0%) sepia(97%) saturate(0%) hue-rotate(42deg) brightness(93%) contrast(103%);
}

.filter-red {
    filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
}