 /*---------------------------------------------------------------------------
  *  importing .css might cause preformance issue, further research is needed.
  *---------------------------------------------------------------------------*/
@import "../../node_modules/@toast-ui/editor/dist/toastui-editor.css";
@import "../../node_modules/prismjs/themes/prism.css";
@import "../../node_modules/@toast-ui/editor-plugin-code-syntax-highlight/dist/toastui-editor-plugin-code-syntax-highlight.css";
@import "../../node_modules/tui-color-picker/dist/tui-color-picker.css";
@import "../../node_modules/@toast-ui/editor-plugin-color-syntax/dist/toastui-editor-plugin-color-syntax.css";

/* The built-in icons */
@import "../base/browser/icon/icons.css";

@import "../base/browser/basic/button/button.css";
@import "../base/browser/basic/sash/sash.css";
@import "../base/browser/secondary/widgetBar/WidgetBar.css";
@import "../base/browser/secondary/contextMenu/contextMenu.css";

@import "./common.css";
@import "./workbench/actionBar/actionBar.css";
@import "./workbench/actionView/actionView.css";
@import "./workbench/actionView/explorer/explorerView.css";
@import "./workbench/actionView/explorer/fileTree.css";
@import "./workbench/actionView/outline/outlineView.css";
@import "./workbench/editor/editor.css";
@import "./workbench/editor/titleBar/titleBarView.css";
@import "./workbench/editor/titleBar/functionBarView.css";
@import "./workbench/editor/titleBar/windowBarView.css";
@import "./workbench/editor/tabBar/tabBarView.css";
@import "./workbench/editor/markdown/markdownView.css";
@import "./workbench/editor/markdown/customToastuiStyle.css";

body {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    background-color: white;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
}

#workbench {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100vw;
    height:100vh;
    overflow: hidden;
    box-sizing: border-box;
}

*::selection {
    text-shadow: none;
    background: #b3d4fc;
}
