body {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    background-color: white;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
}

#mainApp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100vw;
    height:100vh;
    overflow: hidden;
    box-sizing: border-box;
}

#editor-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box; 
    /* Allow view to grow and shrink, and ensure they are all equally sized, equivalent to flex: auto */
    flex: 1 1 auto;
}
