 /*---------------------------------------------------------------------------
  *  importing .css might cause preformance issue, further research is needed.
  *---------------------------------------------------------------------------*/

/* The built-in icons */
@import "../base/browser/icon/icons.css";

@import "../base/browser/basic/button/button.css";
@import "../base/browser/basic/sash/sash.css";
@import "../base/browser/basic/scrollbar/scrollbar.css";
@import "../base/browser/secondary/widgetBar/WidgetBar.css";
@import "../base/browser/secondary/contextMenu/contextMenu.css";
@import "../base/browser/secondary/scrollableWidget/scrollableWidget.css";
@import "../base/browser/secondary/listView/listView.css";
@import "../base/browser/secondary/tree/tree.css";

@import "./common.css";
@import "./workbench/actionBar/actionBar.css";
@import "./workbench/actionView/actionView.css";
@import "./workbench/actionView/explorer/explorerView.css";
@import "./workbench/actionView/explorer/explorerItem.css";
@import "./workbench/actionView/outline/outlineView.css";
@import "./workbench/editor/editor.css";
@import "./workbench/editor/titleBar/titleBarView.css";
@import "./workbench/editor/titleBar/functionBarView.css";
@import "./workbench/editor/titleBar/windowBarView.css";
@import "./workbench/editor/tabBar/tabBarView.css";
@import "./workbench/editor/markdown/markdownView.css";
@import "./workbench/editor/markdown/customToastuiStyle.css";

@font-face {
    font-family: harmonyOS sans;
    src: url(../../assets/font/HarmonyOS_Sans/HarmonyOS_Sans_Light.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    background-color: white;
    font-family: 'harmonyOS sans', 'Microsoft Yahei', '微软雅黑', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
}

#workbench {
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100vw;
    height:100vh;
    overflow: hidden;
    box-sizing: border-box;
}

*::selection {
    text-shadow: none;
    background: #b3d4fc;
}
