
.search-bar {
    position: absolute;
    margin: auto;

    line-height: 20px;
    width: 38vw;
    max-width: 600px;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    white-space: nowrap;

    background-color: var(--search-bar-background);
    border: 1px solid transparent;
    border-radius: 12px;
    margin: 0 6px;

    cursor: pointer;
    -webkit-app-region: no-drag;
}

.search-bar > .icon {
    position: relative;
    margin-left: 4px;
    font-size: 10px;
}

.search-bar > .inner-text {
    position: relative;
    margin: auto;
    
    font-size: 14px;
    width: 80%;

    text-overflow: ellipsis;
}

