@use 'src/styles/components/interaction';

.search-bar {
    @include interaction.undraggable;

    position: absolute;
    margin: auto;

    line-height: 18px;
    width: 38vw;
    max-width: 600px;
    font-size: 12px;
    background-color: var(--nota-search-bar-background);

    display: flex;
    flex-direction: row-reverse;
    
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: 12px;
    margin: 0 6px;

    cursor: pointer;
    
    & > .icon {
        position: relative;
        margin-right: 6px;
        margin-top: 2px;
        font-size: 17px;
        color: #b5b5b5;
    }

    & > .inner-text {
        flex-grow: 1;
        border: none;
        outline: 0;
        color: #211f27; // color of texts
        background-color: transparent;
        position: relative;
        margin-left: 14px;
        
        font-size: 14px;
        width: 80%;
    
        text-align: start;
        text-overflow: ellipsis;
    }
}
