@use 'src/styles/components/interaction';

.search-bar {
    @include interaction.undraggable;

    position: absolute;
    margin: auto;

    line-height: 20px;
    width: 38vw;
    max-width: 600px;
    font-size: 12px;
    background-color: var(--nota-search-bar-background);

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: 12px;
    margin: 0 6px;

    cursor: pointer;
    
    & > .icon {
        position: relative;
        margin-left: 4px;
        font-size: 10px;
    }

    & > .inner-text {
        position: relative;
        margin: auto;
        
        font-size: 14px;
        width: 80%;
    
        text-align: center;
        text-overflow: ellipsis;
    }
}
