#titleBar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 40px;
    background-color: white;
    
    -webkit-app-region: drag; /* draggable */
}

#titleBar > #titleBarBtns {
    position: absolute;
    right: 0px;
    
    width: auto;
    height: 40px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#titleBar > #titleBarBtns > * > img {
    margin-left: 15px;
    margin-right: 15px;
    width: 12px;
    height: 100%;
}

.toggleBtn {
    width: 100%;
    height: 100%;
    -webkit-app-region: no-drag;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

.toggleBtn:hover {
    background-color: rgb(230, 230, 230);
}

.toggleBtn:active {
    background-color: rgb(245, 245, 245);
}

.closeToggleBtn:hover {
    background-color: rgb(255, 27, 27);
}

.closeToggleBtn:active {
    background-color: rgb(255, 126, 126);
}