
#tool-bar {
    position: relative;
    height: 68px;
    width: 100%;
    
    display: flex;
    flex-direction: row;

    background: transparent;
}

#tool-bar-container {
    position: relative;

    height: 100%;
    width: 85%;

    margin: auto auto;
    border-radius: 12px;

    background-color: #f8f9f9;
}

#tool-bar-inner-container {
    
    height: 100%;
    width: 90%;
    
    display: flex;
    flex-direction: row;
    margin: auto auto;
}

#tool-bar-inner-container > .tool-button {
    width: 24px;
    height: 24px;
    margin: auto 8px;
    border-radius: 10px;
}

#tool-bar-inner-container > .tool-button:hover {
    background-color: rgb(230, 230, 230);
}

#tool-bar-inner-container > .tool-button:active {
    background-color: rgb(245, 245, 245);
}

#tool-bar-inner-container > .tool-button-focus {
    background-color: rgb(230, 230, 230);
}

.tool-button > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}
