@use 'src/styles/settings/constants' as const;

// TODO: add colors in themeDefaults and register vars in light/dark.color.register.ts
.notification-container {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; // Spacing between notifications
    width: 300px;
}

.notification {
    z-index: 2;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 0px;
    border-width: 0;
    padding: 16px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px; // Width for notifications
    transition: opacity 0.3s, transform 0.3s;
    will-change: opacity, transform; // Optimizes for animations
    overflow: hidden;

    &.info {
        border-left: 1.5px solid #2aa882;
    }

    &.fade-out {
        opacity: 0; // Fade out
        transition: opacity 0.3s ease;
    }

    &.warning {
        border-left: 1.5px solid #F1AD00;
    }

    &.error {
        border-left: 1.5px solid #DA3A34;
    }

    &.info:hover {
        background-color: rgb(248, 255, 255);
        box-shadow: 0 2px 4px rgba(42, 168, 130, 0.21);
    }

    &.warning:hover {
        background-color: rgb(255, 254, 249);
        box-shadow: 0 2px 4px rgba(241, 173, 0, 0.21);
    }

    &.error:hover {
        background-color: rgb(255, 247, 247);
        box-shadow: 0 2px 4px rgba(218, 58, 52, 0.21);
    }
}

.notification-message {
    font-weight: normal;
    color: rgba(109, 109, 109, 0.95);
}

.notification-content {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
}

.submessage-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    padding-left: 0.5px;
    gap: 5px;
}

.notification-submessage {
    font-size: 0.76em;
    color: rgba(121, 121, 121, 0.9);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

.notification-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
}

.notification-close-container {
    display: flex;
    justify-content: flex-end;
}

.notification-close-button {
    z-index: 999;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 1.5em;
    line-height: 0.7;
    margin-left: 7px;
    margin-top: 0;
    padding: 4px;
    color: rgb(147, 147, 147);
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 0.5px #2aa882; // Default shadow for error close button
        border-radius: 1.5px;
        background-color: rgb(248, 255, 255);
    }

    &.info:hover {
        box-shadow: 0 0 0 0.5px #2aa882;
        background-color: rgb(248, 255, 255);
    }

    &.warning:hover {
        box-shadow: 0 0 0 0.5px #F1AD00;
        background-color: rgb(255, 254, 244);
    }

    &.error:hover {
        box-shadow: 0 0 0 0.5px #DA3A34;
        background-color: rgb(255, 247, 247);
    }
}

.notification-custom-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
}

.custom-action-button {
    z-index: 999;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 18.5px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        opacity: 0.8;
    }
    &:last-child {
        margin-right: -6px !important; // ensure it takes precedence
    }
}

@media only screen and (max-width: 670px) {
    .notification-container {
        display: none;
    }
}