@use 'src/styles/settings/constants' as const;

.notification-container {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; // Spacing between notifications
    width: 300px;
}

.notification {
    z-index: 2;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    max-width: 250px; // Width for notifications
    transition: opacity 0.3s, transform 0.3s;
    will-change: opacity, transform; // Optimizes for animations
    overflow: hidden;

    &:hover {
        background-color: rgb(255, 250, 250);
        box-shadow: 0 0 0 0.8px rgb(199, 58, 73), 0 2px 4px rgba(199, 58, 73, 0.21);
    }
}

.notification-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.notification-message {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.95);
}

.notification-content {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
}

.notification-close-container {
    display: flex;
    justify-content: flex-end;
}

.notification-close-button {
    z-index: 999;
    position: absolute;
    top: 15px;
    right: 6px;
    font-size: 0.8em;
    line-height: 0.7;
    margin-left: 7px;
    margin-top: 0;
    padding: 4px;
    color: black;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 0.5px rgb(199, 58, 73);
        border-radius: 2px;
        background-color: rgb(255, 245, 246);
    }
}

.notification-custom-actions {
    display: flex;
    justify-content: flex-end;
}

.custom-action-button {
    z-index: 999;
    padding: 0.1px 8px; 
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        opacity: 0.8;
    }
    &:last-child {
        margin-right: -6px !important; // ensure it takes precedence
    }
}

@media only screen and (max-width: 670px) {
    .notification-container {
        display: none;
    }
}