@use 'src/styles/settings/constants' as const;

.notification-container {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; // Spacing between notifications
    width: 300px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.notification {
    z-index: 2;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; // Keep the close button aligned with the 1st line of text
    max-width: 250px; // width for notifications
    transition: opacity 0.3s, transform 0.3s; // No need for margin-bottom transition
    will-change: opacity, transform; // Optimizes for animations
    overflow: hidden;
    &:hover {
        background-color: rgb(255, 250, 250);
        box-shadow: 0 0 0 0.8px rgb(199, 58, 73);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(199, 58, 73, 0.21);
        .notification-content {
            font-weight: 600;
        }
    }
}

.notification-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.notification-message {
    // Add styles for the message here. If you want it less prominent than the title, consider:
    font-weight: normal;
    color: rgba(0, 0, 0, 0.95); // a slightly dimmed color for the message text
}

.notification-content {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
}

.notification-actions {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification-close-button {
    z-index: 999;
    position: absolute;
    top: 15px;
    right: 6px;
    font-size: 0.8em;
    line-height: 1;
    margin-left: 7px;
    margin-top: 0;
    padding: 4px;
    color: black;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 0.5px rgb(199, 58, 73);
        border-radius: 2px;
        background-color: rgb(255, 245, 246);
    }
}

@media only screen and (max-width: 670px) {
    .notification-container {
        display: none;
    }
}