@use 'src/styles/settings/constants' as const;

.notification-container {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px; // Spacing between notifications
    width: 330px;
}

.notification {
    z-index: 2;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 0px;
    border-width: 0;
    padding: 12px 12px 6px 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    transition: opacity 0.3s, transform 0.3s;
    will-change: opacity, transform;
    overflow: hidden;

    &.info {
        border-left: 1.5px solid #2aa882;
    }

    &.warning {
        border-left: 1.5px solid #F1AD00;
    }

    &.error {
        border-left: 1.5px solid #DA3A34;
    }
}

.notification-content {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
}

.notification-icon-wrapper {
    width: 20px;
    height: 20px;
    padding-top: 0.7px;
}

.notification-icon {
    size: 18px;
}

.notification-info {
    color: #2aa882;
}

.notification-warn {
    color: #F1AD00;
}

.notification-error {
    color: #DA3A34;
}

.notification-message {
    flex: 1;
    font-size: 12.8px !important;
    margin-right: 8px;
    color: rgba(109, 109, 109, 0.95);
}

.submessage-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5px;
    gap: 5px;
}

.notification-submessage {
    font-size: 0.76em;
    color: rgba(121, 121, 121, 0.9);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

.notification-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
}

.notification-close-container {
    display: flex;
    justify-content: flex-end;
}

.notification-close-button {
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 1.5em;
    line-height: 0.7;
    margin-left: 7px;
    margin-top: 0;
    padding: 3px;
    color: rgb(147, 147, 147);
    cursor: pointer;
    &:hover {
        color: #2aa882;
        border-radius: 50%;
        background-color: #e9fff8;
    }

    &.notification-info:hover {
        color: #2aa882;
        background-color: #e9fff8;
    }

    &.notification-warn:hover {
        color: #F1AD00;
        background-color: rgb(255, 251, 205);
    }

    &.notification-error:hover {
        color: #DA3A34;
        background-color: rgb(255, 216, 216);
    }
}

/* Custom action buttons */
.notification-custom-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

/* Styling for all action buttons */
.custom-action-button {
    z-index: 999;
    padding: 4px 7px 4px 7px;
    font-weight: bold;
    line-height: 16px;
    margin-top: 8px;
    margin-left: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    /* Apply hover style on all buttons including last-child */
    &:hover {
        background-color: #e2e2e2;
        color: white;
    }

    /* Last child style */
    &:last-child {
        margin-right: 11px !important;
        background-color: #f5f5f5;
    }
}

/* Hover styles based on notification type */
.notification.info .custom-action-button:hover {
    background-color: #2aa882;
}

.notification.warning .custom-action-button:hover {
    background-color: #F1AD00;
}

.notification.error .custom-action-button:hover {
    background-color: #DA3A34;
}

@media only screen and (max-width: 670px) {
    .notification-container {
        display: none;
    }
}
