#markdown-view {
    position: relative;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    background-color: white;
    
}

#md {
    position: absolute;
    top: 28px; /* save space for tabBar */
    width: 100%;
    height: 100%;

    min-width: 100%;
    max-width: 100%;
    border: 0px;
}
