
#quick-access-bar {
    position: relative;
    display: flex;
    align-items: center;

    & > .menu-button {
        margin: 12px 12px 0 12px; 
        font-size: 20px;
        font-family: 'happy family';
        color: var(--nota-quick-access-bar-menu-button-foreground);
        cursor: pointer;

        &:hover {
            color: var(--nota-quick-access-bar-menu-button-foreground-hover);
        }
    }
}