#quick-access-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > div {
        position: absolute;
    }

    & > .menu-button {
        top: 11px;
        margin-right: 12px;
        margin-left: 12px;
        justify-content: center;
        font-size: 25px;
        font-family: 'happy family';
        color: var(--nota-quick-access-bar-menu-button-foreground);
        cursor: pointer;

        &:hover {
            color: var(--nota-quick-access-bar-menu-button-foreground-hover);
        }
    }

    & > .quick-access-search-bar {
        margin-top: 2px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 10px;

        .search-bar {
            -webkit-app-region: no-drag !important;
            border: var(--nota-search-bar-border) 1px solid;
            border-radius: 20px;
            width: calc(90% - 34px) !important;
            left: 38px !important;
            background-color: var(--nota-search-bar-background);

            .inner-text {
                margin-left: 6px !important;
                padding-right: 1%;
            }
        }

        &.macos {
            top: 20px;
            display: flex;
            align-items: center;
            width: 82%;
            margin-left: 15px;
            background-color: transparent;
            .search-bar {
                border-top : none;
                border-left: none;
                border-right: none;
                border-bottom: var(--nota-search-bar-border) 1px solid;
                border-radius: 0;
            }
        }

        ::placeholder {
            color: var(--nota-search-bar-placeholder);
        }
    }

    .mac-buttons-container {
        display: flex;
        align-items: center;
        margin-left: 12.5px;
        margin-top: 12.5px;
    }
}