#quick-access-bar {
    position: relative;

    & > div {
        position: absolute;
    }

    & > .menu-button {
        top: 11px;
        margin-right: 12px;
        margin-left: 12px;
        justify-content: center;
        font-size: 25px;
        font-family: 'happy family';
        color: var(--nota-quick-access-bar-menu-button-foreground);
        cursor: pointer;

        &:hover {
            color: var(--nota-quick-access-bar-menu-button-foreground-hover);
        }
    }

    & > .quick-access-search-bar {
        top: 7px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 10px;

        .search-bar {
            -webkit-app-region: no-drag !important;
            border: var(--nota-search-bar-border) 1px solid;
            border-radius: 20px;
            width: calc(90% - 34px) !important;
            left: 38px !important;
            background-color: var(--nota-search-bar-background);

            .inner-text {
                margin-left: 6px !important;
                padding-right: 1%;
            }
        }

        &.macos {
            top: 20px;
            display: flex;
            align-items: center;
            width: 82%;
            margin-left: 15px;
            background-color: transparent;
            .search-bar {
                border-top : none;
                border-left: none;
                border-right: none;
                border-bottom: var(--nota-search-bar-border) 1px solid;
                border-radius: 0;
            }
        }

        ::placeholder {
            color: var(--nota-search-bar-placeholder);
        }
    }

    .mac-buttons-container {
        display: flex;
        align-items: center;
        margin-left: 12.5px;
        margin-top: 12.5px;
    }
}

body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    background: #5e5e5e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    z-index: 999;
    width: 11.5px;
    height: 11.5px;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    overflow: hidden;
}

.btn:last-child {
    margin-right: 8px;
}

.btn:before, .btn:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    opacity: 0;
}

.close-btn {
    background: #FF5D5B;
    border: 0.5px solid #CF544D;
}

.close-btn:active {
    background: #E55252; /* Slightly darker shade */
}

.min-btn {
    background: #FFBB39;
    border: 0.5px solid #CFA64E;
}

.min-btn:active {
    background: #E6A932; /* Slightly darker shade */
}

.max-btn {
    background: #00CD4E;
    border: 0.5px solid #0EA642;
}

.max-btn:active {
    background: #00B947; /* Slightly darker shade */
}

/* Close btn */
.close-btn:before, .close-btn:after {
    width: 1.4px;
    margin-top: 0.5px;
    height: 66%;
    background: #460100;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Min btn */
.min-btn:before {
    width: 70%;
    height: 1.5px;
    background: #460100;
}

/* Max btn */
.max-btn:before {
    width: 60%;
    height: 60%;
    background: #024D0F;
}

.max-btn:after {
    width: 2.2px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00CD4E;
}

/* Hover function */
.mac-buttons-container:hover .btn:before, .mac-buttons-container:hover .btn:after {
    opacity: 0.68;
    top: 50%;
}
