#workbench {
    position: absolute;
    
    width:100vw;
    height:100vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
    box-sizing: border-box;

    /**
     * hacky: since toggle collapse button doesn't work with splitView properly,
     * we need some hacky way to disable sash when collapsing.
     */
     &.collapsed > .split-view > .sash-container > .sash {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
    }
}
