#workbench {
    position: absolute;
    
    width:100vw;
    height:100vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
    box-sizing: border-box;

    &.collapsed .sash-container .sash {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
    }
}
