.inspector-view-container {
    position: absolute;
    
    width:100vw;
    height:100vh;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    overflow: hidden;
    box-sizing: border-box;
}

/* navigation bar */

.inspector-bar .widget-item {
    box-sizing: border-box;
    border-left: 1px solid rgb(65, 65, 65);
    border-right: 1px solid rgb(65, 65, 65);
    border-bottom: 2px solid rgb(65, 65, 65);
}

.inspector-bar .widget-item:hover {
    background-color: #d4d4d4;
}

/* inspector view */

.inspector-view {
    position: relative;

    width: 100%;
    height: 100%;
}

