.editor-dnd-cursor {
    position: absolute;
    z-index: 50;
    pointer-events: none;
    background-color: #2aa882;
    
    &.prosemirror-dropcursor-block {
        width: 100%;
        height: 2px;
        background-color: #2aa882;
    }
  
    &.prosemirror-dropcursor-inline {
        width: 2px;
        height: 100%;
        background-color: #2aa882;
    }
  
    &.highlight-animation {
        animation: cursor-pulse 1.5s infinite ease-in-out;
    }
}
  
@keyframes cursor-pulse {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
}
  