.editor-dnd-cursor {
    pointer-events: none;
    z-index: 50;
    position: absolute;
    opacity: 1; /* Make cursor visible by default */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.editor-dnd-cursor-block {
    height: 2px;
    width: 100%;
    background-color: #2aa882;
    display: block;
    opacity: 1;
    animation: fadeInOut 0.5s infinite alternate;
}

.editor-dnd-cursor-inline {
    width: 2px;
    height: 1.2em;
    background-color: #2aa882;
    display: inline-block;
    opacity: 1;
    animation: fadeInOut 0.5s infinite alternate;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    100% {
        opacity: 0.8;
        transform: scale(1.1);
    }
}
