
.scroll-bar {
    z-index: 101;
    position: absolute;

    &.visible {
        opacity: 0.65;
        transition: opacity 100ms linear;
    }
    
    &.invisible {
        opacity: 0;
        pointer-events: none;
    }
    
    &.invisible.fade {
        transition: opacity 600ms linear;
    }
    
    & > .scroll-slider {
        position: absolute;
        background-color: var(--nota-scroll-slider-background);
        overflow: hidden;

        border-radius: 6px;
    }
    
    &.horizontal {
        width: 100%;
        bottom: 0px;
    }
    
    &.horizontal > .scroll-slider {
        height: 100%;
    }

    &.vertical {
        height: 100%;
        right: 0px;
    }
    
    &.vertical > .scroll-slider {
        width: 100%;
    }
    
    .scroll-slider.active {
        opacity: 0.70;
    }
}