
.scroll-bar {
    position: absolute;
}

.scroll-bar > .scroll-slider {
    position: absolute;
    background-color: #b8b8b8;
    overflow: hidden;
}

.scroll-bar > .scroll-slider:hover {
    opacity: 0.70;
}

.scroll-bar.horizontal {
    width: 100%;
    bottom: 0px;
}

.scroll-bar.horizontal > .scroll-slider {
    height: 100%;
}

.scroll-bar.vertical {
    height: 100%;
    right: 0px;
}

.scroll-bar.vertical > .scroll-slider {
    width: 100%;
}

.scrollable-element > .visible {
	opacity: 1;
	transition: opacity 100ms linear;
}

.scrollable-element > .invisible {
	opacity: 0;
	pointer-events: none;
}

.scrollable-element > .invisible.fade {
	transition: opacity 600ms linear;
}