#window-bar {
    position: absolute;
    right: 0px;
    
    width: auto;
    height: 40px;
    
    align-items: center;
}

#window-bar .widget-item {
    width: 40px;
    height: 40px;
    align-content: center;
    display: flex;
}

#window-bar .widget-item .icon {
    font-size: 12px;
}

.toggleBtn {
    -webkit-app-region: no-drag;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

.toggleBtn:hover {
    background-color: rgb(230, 230, 230);
}

.toggleBtn:active {
    background-color: rgb(245, 245, 245);
}

.closeToggleBtn:hover {
    background-color: rgb(255, 27, 27);
}

.closeToggleBtn:active {
    background-color: rgb(255, 126, 126);
}