#explorer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.opened-explorer-container, .unopened-explorer-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.unopened-explorer-container > .explorer-open-tag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

.unopened-explorer-container:hover > .explorer-open-tag {
    color: #9f9f95;
}

.unopened-explorer-container:hover > .explorer-open-tag:hover {
    color: rgb(202, 202, 202);
}

.unopened-explorer-container:hover > .explorer-open-tag:active {
    color: #9f9f95;
}
