#action-view-content {
    position: relative;
    width: 100%;
    height:100%;
}

#fileTree-container::-webkit-scrollbar, 
#fileTree-container::-webkit-scrollbar-thumb {
    width: 8px;
    /* border-radius: 8px; */
    background-clip: border-box;
}

#fileTree-container::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
}

#fileTree-container::-webkit-scrollbar-thumb:active {
    color: rgba(0, 0, 0, 0.3); /* shoud matches text-shadow */
}

#fileTree-container {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    
    flex-direction: column;
    overflow-x: hidden;
    /* scrollbar able to overlap contents */
    overflow-y: overlay;

    /* animation scrollBar */
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 rgb(0, 0, 0);
    transition: color 0.2s ease;
}

#fileTree-container:hover {
    color: rgba(0, 0, 0, 0.2); /* shoud matches text-shadow */
}

.node-root {
    padding-left: 0px; /* indentation */
    
    margin: 0;
    border-bottom: 1px solid #dfdfdf;
}

.node-root .root-icon {
    font-size: 14px;
    position: absolute;
    right: 0px;
    
    margin-top: 4px;
    margin-right: 6px;
}

.node-folder {
    padding-left: 14px; /* indentation */

    color: rgb(0, 0, 0);
    
    display: none;
    margin: 0;
    text-align: left;
    list-style-type: none;
    /* left horizontal-line display */
    /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
}

.node-file {
    padding-left: 14px; /* indentation */
    margin-left: 10px;

    color: rgb(0, 0, 0);
    font-weight: normal;

    display: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    cursor: pointer;
    list-style-type: none;
    user-select: none;
    /* left horizontal-line display */
    /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
}

.node-root > .node {
    height: 40px;
    line-height: 40px;
}

.node {
    height: 34px;
    line-height: 34px;
    
    list-style-type: none;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;

    user-select: none;
    
}

.node > .node-text {
    height: 100%;
    
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 13px;
    color: #868686;
}

.node > .icon {
    margin-left: 0px;
    margin-top: 2px;
    margin-right: 4px;
    color: gray;
}

.node > .node-root-text {
    padding-left: 10px;
    font-size: 13px;
    color: #808080;
}

.node-file:hover, .node:hover {
    background-color: #eeeeee;
}

.node-file:active, .node:active {
    background-color: #e6e6e6;
}

.node-file-clicked {
    border-right: 5px solid #d1232a;

    background-color: #eeeeee;
}
