#action-view-content {
    position: relative;
    width: 100%;
    height:100%;
}

#fileTree-container::-webkit-scrollbar, 
#fileTree-container::-webkit-scrollbar-thumb {
    width: 8px;
    /* border-radius: 8px; */
    background-clip: border-box;
}

#fileTree-container::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
}

#fileTree-container::-webkit-scrollbar-thumb:active {
    color: rgba(0, 0, 0, 0.3); /* shoud matches text-shadow */
}

#fileTree-container {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    
    flex-direction: column;
    overflow-x: hidden;
    /* scrollbar able to overlap contents */
    overflow-y: overlay;

    /* animation scrollBar */
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 rgb(0, 0, 0);
    transition: color 0.2s ease;
}

#fileTree-container:hover {
    color: rgba(0, 0, 0, 0.2); /* shoud matches text-shadow */
}

#fileTree-container ul {
    padding-left: 6px;
}
#fileTree-container li {
    padding-left: 6px;
}

.node-root {
    margin: 0;
    text-align: left;
}

.node-folder {
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    
    display: none;
    margin: 0;
    text-align: left;
    list-style-type: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.node-file {
    color: rgb(0, 0, 0);
    font-weight: normal;

    display: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    cursor: pointer;
    list-style-type: none;
    user-select: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.node-text {
    height: 34px;
    line-height: 34px;
    
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    
    margin-left: -10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.node-root-text {
    font-weight: bold;
}

.file-icon::before {
    content: url('../../../../assets/svg/file.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    filter: invert(0%) sepia(97%) saturate(0%) hue-rotate(42deg) brightness(93%) contrast(103%);
}

.folder-icon-expand::before {
    content: url('../../../../assets/svg/angle-down.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    filter: invert(0%) sepia(97%) saturate(0%) hue-rotate(42deg) brightness(93%) contrast(103%);
}

.folder-icon-collapse::before {
    content: url('../../../../assets/svg/angle-right.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    filter: invert(0%) sepia(97%) saturate(0%) hue-rotate(42deg) brightness(93%) contrast(103%);
}

.node-file:hover, .node-text:hover {
    background-color: #eeeeee;
}

.node-file:active, .node-text:active {
    background-color: #e6e6e6;
}

.node-file-clicked {
    border-right: 5px solid #d1232a;

    background-color: #eeeeee;
}
