#explorer-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#explorer-view .side-view-title > .title-text {
    margin-left: 12px;
    user-select: none;
}

#explorer-view .side-view-title > .icon {
    margin-left: 8px;

    margin-top: 2px;
    font-size: 10px;
}

.opened-explorer-container, .empty-explorer-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.empty-explorer-container > .explorer-open-tag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

.empty-explorer-container:hover > .explorer-open-tag {
    color: #9f9f95;
}

.empty-explorer-container:hover > .explorer-open-tag:hover {
    color: rgb(202, 202, 202);
}

.empty-explorer-container:hover > .explorer-open-tag:active {
    color: #9f9f95;
}
