
$z-index-low: 2;
$z-index-medium: 10;
$z-index-high: 100;

$selection-colour: #b3d4fc; // selection background colour // use `var(--selection-colour)` later on
$font-size: 10pt; // default font size across the application