@use 'src/styles/settings/constants' as const;
@use 'src/styles/components/interaction';

@font-face {
    font-family: harmonyOS sans;
    src: url(../../assets/font/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf);
}

@font-face {
    font-family: happy family;
    src: url(../../assets/font/happy_monkey/HappyMonkey-Regular.ttf);
}

body {
    cursor: default;
    margin: 0px;
    padding: 0px;
    background-color: var(--nota-global-body-background);

    color: var(--nota-global-body-foreground);
    font-size: const.$font-size;
    font-family: 'harmonyOS sans', 'Microsoft Yahei', '微软雅黑', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
    overflow: hidden;
}

img {
    @include interaction.undraggable;
}

*::selection {
    text-shadow: none;
    background: const.$selection-background;
}
