#action-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

   #main-action-bar {
    width: 100%;
    height: 100%;
   }

    & .tool-button {
        width: 30px;
        height: 30px;
        align-self: center;

        & > .icon {
            font-size: 24px;
        }

        &:hover {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }

        &:active {
            opacity: 70%;
        }

        &.focus {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }
    }
}