#action-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100%;

    & .icon {
        position: relative;
        bottom: 8px;
    }

    & .button {
        width: 30px;
        height: 30px;
        align-self: center;

        & > .icon {
            font-size: 28px;

            &.icon-add-new {
                color: #d0ebe3 !important;
            }
        }

        &:hover {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }

        &:active {
            opacity: 70%;
        }

        &.focus {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }
    }
}

// TODO: move this logic to icon hover effects
#action-bar::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 41%;
    width: 18%;
    height: 1.8px;
    background: #2aa882;
    box-shadow: 0 0 8px #252a29;
}

#action-bar::after {
    content: '';
    position: absolute;
    bottom: -0.01px;
    left: 7%;
    width: 86%;
    height: 1.2px;
    background:  #e2e2e2;
}