.funcText {
    cursor: pointer;
    user-select: none; 
}

.pureText {
    user-select: none; /* cannot select character */
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.toggleBtn {
    -webkit-app-region: no-drag;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
}

.toggleBtn:hover {
    background-color: darkgrey;
}

.toggleBtn:active {
    background-color: black;
}
