#workspace {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box; 
    /* Allow view to grow and shrink, and ensure they are all equally sized, equivalent to flex: auto */
    flex: 1 1 auto;
    
    box-shadow: 5px 0px 30px 0px #e2e2e2;
}