#navigation-bar, #function-bar, #action-bar {

    /* display in row */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    position: relative;
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    background-color: #fcfcfc;
    
    -webkit-app-region: drag; /* draggable */

    & > div {
        position: absolute;
    }

    & > .quick-bar-container {
        position: relative;
        height: 50px;
        width: 100%;
        background-color: #fcfcfc;

        & > .quick-access-bar {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 100%;
            width: 100%;
            background-color: transparent;
        }
    }

    & > .logo {
        top: 10px;
        padding-left: 10px;
        justify-content: center;
        
        font-size: 24px;
        font-family: 'happy family';

        &:hover {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }
    }

    & > .general-button-container {
        top: 80px;
        height: 40px;
        width: 100%;
        justify-content: center;
        background-color: #fcfcfc;
    }

    & > .secondary-button-container {
        bottom: 0px;
        height: 40px;
        width: 100%;
        justify-content: center;
        background-color: #fcfcfc;
    }

    & .tool-button {
        width: 30px;
        height: 30px;
        align-content: center;
        display: flex;

        & > .icon {
            font-size: 18px;
        }

        &:hover {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }

        &:active {
            opacity: 70%;
        }

        &.focus {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }
    }
}