#navigation-bar, #function-bar, #action-bar, #quick-access-bar {

    /* display in row */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    position: relative;
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    background-color: #fcfcfc;
    
    -webkit-app-region: drag; /* draggable */

    & > div {
        position: absolute;
    }

    & > .quick-bar-container {
        position: relative;
        height: 50px;
        width: 90%; /* 90% width for the quick-access-bar */
        background-color: #fcfcfc;
        display: flex;
        align-items: center;
        justify-content: flex-end; /* Align to the right */
    }

    & > .logo {
        z-index: 2;
        top: 10px;
        margin-right: 10px;
        padding-left: 10px;
        justify-content: center;
        
        font-size: 24px;
        font-family: 'happy family';

        &:hover {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }
    }

    & > .quick-access-search-bar {
        top: 10px;
        flex-grow: 1; 
        display: flex;
        align-items: center;
        width: 94%;
        height: 100%;
        margin-left: auto;
        z-index: 1;

        .search-bar {
            width: calc(100% - 40px) !important;
            left: 40px  !important;
            background-color: #f6f6f6;

            .inner-text {
                margin-left: 6px !important;
                padding-right: 5%;
            }
        }
    }

    & > .general-button-container {
        top: 80px;
        height: 40px;
        width: 100%;
        justify-content: center;
        background-color: #fcfcfc;
    }

    & > .secondary-button-container {
        bottom: 0px;
        height: 40px;
        width: 100%;
        justify-content: center;
        background-color: #fcfcfc;
    }

    & .tool-button {
        width: 30px;
        height: 30px;
        align-content: center;
        display: flex;

        & > .icon {
            font-size: 18px;
        }

        &:hover {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }

        &:active {
            opacity: 70%;
        }

        &.focus {
            filter: invert(15%) sepia(100%) saturate(2427%) hue-rotate(343deg) brightness(112%) contrast(97%);
        }
    }
}
