
.list-view {
    position: relative;
	height: 100%;
	width: 100%;
	white-space: nowrap;
}

.list-view-container {
	position: relative;
	width: 100%;
}

.list-view-row {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
}