@use 'src/styles/components/interaction';

.list-view {
    position: relative;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	outline: 0;

	.list-view-container {
		position: relative;
		width: 100%;
		height: 100%;

		& > .list-view-row {

			/**
			 * must be absolute so that the `top` can be dynamically calculated 
			 * in the ListView.
			 */
			position: absolute;
			overflow: hidden;

			/* 
			The reason using a `outline` instead of `border` is because border is 
			counted as part of the element's dimension and that affects the drag and 
			drop detection.
			*/
			outline: 1px solid transparent;
			outline-offset: -1px; /* make the outline placed inside the row. */
			
			// leave some spaces at two sides
			width: calc(100% - 20px);
			height: 100%;
			// centralize the row
			left: 50%;
			transform: translate(-50%);
			
			background-color: transparent;
			transition: background-color 0.3s;

			// selection
			&.selected {
				background-color: var(--nota-explorer-item-selected-background);
			}
		
			// hovered (make sure does not affect 'selected')
			&.hovered:not(.selected) {
				border-radius: 10px;
				background-color: var(--nota-explorer-item-hovered-background);
			}
			
			// focused (make sure does not affect 'selected')
			&.focused:not(.selected) {
				border-radius: 10px;
				outline: 1px solid var(--nota-explorer-item-focused-background);
			}

			/** explicitly display anchor (only for testing purpose) */
			// anchor
			// &.anchor::before {
			//     background-color: #ff0000 !important;
			// }
		
			// select the first selection
			&.selected:not(.selected + .selected) {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			
			// select the last selection
			&.selected:not(:has(+ .selected)) {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}

	&.mouse-support {
		@include interaction.unselectable;
	}

	&.mouse-support .list-view-row {
		cursor: pointer;
		touch-action: none;
	}
}

.list-drag-image {
	position: absolute;
	display: inline-block;
	background-color: rgb(235, 235, 235);
	font-size: 12px;
	padding: 1px 7px;
	border-radius: 10px;
	z-index: 1000;
}