.navigation-panel {
    display: block;
    position: relative;
    transition: opacity 0.3s ease;

    &.hidden {
        display: none;
    }
}

.button-wrapper {
    z-index: 999;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    position: relative; // Important for positioning children absolutely within the button
    cursor: pointer;
}

.button-part {
    position: absolute;
    width: 100%;
    height: 53%; // 3% for overlap
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-top {
    top: 0;
    width: 4px;
    background-color: #e2e2e2;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none;
}

.button-bottom {
    bottom: 0;
    width: 4px;
    background-color: #e2e2e2;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
}

.button-wrapper:hover .button-top {
    background-color: #b5b5b5;
    transform: rotate(20deg);
}

.button-wrapper:hover .button-bottom {
    background-color: #b5b5b5;
    transform: rotate(-20deg);
}

.button-text {
    position: absolute;
    left: 100%; // Position outside the button
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    button:hover & {
        visibility: visible;
        opacity: 1;
    }
}
