#window-bar {
    position: relative;
    
    flex-grow: 0;
    flex-shrink: 0;

    align-items: center;
    
    width: auto;
    height: 100%;

    & .widget-item {
        width: 34px;
        height: 40px;
    }

    & .widget-item .icon {
        font-size: 16px;
    }

    & .toggleBtn {
        -webkit-app-region: no-drag;
        transition: 0.2s;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: var(--nota-window-bar-button-hover-background);
        }
    
        &:active {
            background-color: var(--nota-window-bar-button-active-background);
        }
    }
}