#folderTree {
    position: relative;
    width: 100%;
    height: 100%;
}

#tree {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#tree::-webkit-scrollbar {
    width: 4px;
}

#tree::-webkit-scrollbar-thumb {
    background: #d3d3c3;
}

#emptyFolderTag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

#folderTree:hover > #emptyFolderTag {
    color: #9f9f95;
}

#folderTree:hover > #emptyFolderTag:hover {
    color: rgb(202, 202, 202);
}

#folderTree:hover > #emptyFolderTag:active {
    color: #9f9f95;
}

/*                              DO TOUCH ABOVE                                  */

.node {
    position: relative;
    display: inline-block;

    width: 100%;
    margin-left: 6px;
    height: 22px;

    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

.node:hover {
    background-color: #e6e6e6;
}

.node:active {
    background-color: #d8d8d8;
}

.node-icon {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

.node-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    height: 100%;
    font-size: 12px;
    line-height: 22px;
}

.is-root {
    background-color: transparent;
}

.is-folder {
    background-color: transparent;
}

.is-file {
    background-color: transparent;
}
