#resize {
    width: 4px;
    height: 100%;
    position: relative;
    cursor: w-resize;
    background-color: whitesmoke;
    transition: 0.2s;
}

#resize:hover {
    background-color: #ccc;
}
