#emptyFolderTag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

#folderTree:hover > #emptyFolderTag {
    color: #9f9f95;
}

#folderTree:hover > #emptyFolderTag:hover {
    color: rgb(202, 202, 202);
}

#folderTree:hover > #emptyFolderTag:active {
    color: #9f9f95;
}

#resize {
    width: 4px;
    height: 100%;
    position: relative;
    cursor: w-resize;
    background-color: whitesmoke;
    transition: 0.2s;
}

#resize:hover {
    background-color: #ccc;
}
