#folderView {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: #F5F5EE; /* CECEC5 */
    transition: 0.2s;
}

#resize {
    width: 1px;
    height: 100%;
    position: relative;
    cursor: w-resize;
    background-color: transparent;
    transition: 0.2s;
}

#resize:hover {
    background-color: #ccc;
}

#folderNavBar {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#folderNavBar > * {
    color: #9f9f95;
    text-align: center;
    font-size: 14px;
    border-bottom: 4px solid transparent;
    transition: 0.2s;
}

#folderNavBar > *:hover {
    border-bottom: 4px solid #919188;
}

#folderNavBar > *:active {
    border-bottom: 4px solid #5b5b55;
}

#folderTree {
    width: auto;
    height: 100%;
}

#emptyFolderTag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

#folderTree:hover > #emptyFolderTag {
    color: black;
}

#folderTree:hover > #emptyFolderTag:hover {
    color: rgb(202, 202, 202);
}

#folderTree:hover > #emptyFolderTag:active {
    color: black;
}
