#folderTree {
    position: relative;
    width: 100%;
    height: 100%;
}

#tree {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#tree ul, #tree li {
    padding-left: 10px;
}

#tree::-webkit-scrollbar {
    width: 4px;
}

#tree::-webkit-scrollbar-thumb {
    background: #d3d3c3;
}

#emptyFolderTag {
    color: transparent;
    font-size: 10pt;
    text-align: center;
    transition: 0.1s;
}

#folderTree:hover > #emptyFolderTag {
    color: #9f9f95;
}

#folderTree:hover > #emptyFolderTag:hover {
    color: rgb(202, 202, 202);
}

#folderTree:hover > #emptyFolderTag:active {
    color: #9f9f95;
}

/*                         ABOVE ARE STABLE CODE                              */

.node-root {
    margin: 0;
    text-align: left;
}

.node-folder {
    margin: 0;
    text-align: left;
    list-style-type: none;
}

.node-text {
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    padding-left: 0px;
    margin-left: -10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-icon::before {
    content: url('../../assets/icons/file.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.root-icon-expand::before, .folder-icon-expand::before {
    content: url('../../assets/icons/angle-down.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.root-icon-collapse::before, .folder-icon-collapse::before {
    content: url('../../assets/icons/angle-right.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.node-file {
    word-wrap: break-word;
    white-space: pre-wrap;
    cursor: pointer;
    list-style-type: none;
    user-select: none;
}

.node-file:hover, .node-text:hover {
    background-color: #e6e6e6;
}

.node-file:active, .node-text:active {
    background-color: #d8d8d8;
}
