
// blurs the selections when the tree is blurred
.file-tree.blurred .selected {
    background-color: var(--nota-file-tree-select-blur-background) !important;
}

.file-tree.on-drop-target {
    // simulate: hovered entirely
    background-color: var(--nota-file-tree-on-drop-background);
}

.row-insertion {
    position: absolute;

    width: 100%;
    height: var(--nota-overlay-height);
    background-color: var(--nota-file-tree-row-insert-background);

    /** the insertion should be inactive */
    pointer-events: none;
}