
.file-tree.on-drop-target {

    // simulate: hovered entirely
    background-color: #fcf3f3;
}

.row-insertion {
    position: absolute;

    width: 100%;
    height: 4px;
    background-color: #cf6060;
}