
// blurs the selections when the tree is blurred
.file-tree.blurred .selected {
    background-color: #E2E2E2 !important;
}

.file-tree.on-drop-target {

    // simulate: hovered entirely
    background-color: #fcf3f3;
}

.row-insertion {
    position: absolute;

    width: 100%;
    height: var(--nota-overlay-height);
    background-color: #D0EBE3;

    /** the insertion should be inactive */
    pointer-events: none;
}