body {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    color: #949AA7;
    background-color: #2C313C;
}

div[id="mainApp"] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height:100vh;
    width:100vw;
    overflow: hidden;
    border: 1px solid #343B48;
    box-sizing: border-box;
}

div[id="contentArea"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


div[id="rightMarkdown"] {
    width: 100%;
    height: 100%;
    /* background-color: #F5F5EE; */
    background-color: white;
}
