#navigation-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--nota-navigation-panel-background);

    & > .navigation-view-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
}