#navigation-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & > .navigation-view-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
}