#editor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;

    justify-content: center;
    align-items: center;
}

#editor > .milkdown-menu-wrapper {
    position: relative;

    height: 100%;
    max-width: 1200px;

    overflow: hidden;
}

#editor .milkdown {
    height: 100%;
    overflow-y: scroll;
}

#editor .milkdown .editor .code-inline {
    color: black;
    background-color: #dbe0e6;
    margin-left: 4px;
    margin-right: 4px;
}