#editor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;

    justify-content: center;
    align-items: center;
}

#editor > .editor-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}