#workspace {
    display: flex;
    height: 100vh;
  
    #title-bar {
        position: absolute;
        width: 100%;
        top: 0;
    }

    #editor {
        position: relative;
        width: 100%;
        top: 45px;
    }
  
    & > .outline {
        position: relative;
        margin: auto;
        height: 100%;
        width: 250px;
        top: 45px;

        & > .list-view-container {
            width: 100% !important;
            height: 600px !important;
        }
    }
}
  