#workspace {
    display: flex;
    height: 100vh;
  
    #title-bar {
        position: absolute;
        width: 100%;
        top: 0;
    }

    #editor {
        position: relative;
        width: 100%;
        top: 45px;
    }
  
    & > .outline {
        color: var(--nota-outline-primary-text);
        position: fixed;
        width: 230px;
        height: calc(100% - 45px); /* Adjust height to take into account the title bar */
        right: 0; /* Position on the right side of the screen */
        top: 45px;
        overflow-y: auto;

        & > .file-name-heading {
            font-size: 12.5px;
            font-weight: bold !important;
            padding: 14px 14px;
        }

        & > .list-view-container {
            width: 100% !important;
            padding-left: 0px !important;
        }
    }
}
  