@font-face {
    font-family: harmonyOS sans-bold;
    src: url(../../../../assets/font/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf);
}

#workspace {
    display: flex;
    height: 100vh;
  
    #title-bar {
        position: absolute;
        width: 100%;
        top: 0;
    }

    #editor {
        position: relative;
        padding-left: 5%;
        width: calc(95% - 230px);
        top: 49px;
    }
}
  