#tab-bar-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#tabBar {
    position: absolute;
    width: 100%;
    height: 40px;
    
    background-color: white;
    
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

    /* animation scrollBar */
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 black;
    transition: color 0.2s ease;
}

#tabBar:hover {
    color: rgba(0, 0, 0, 0.3);
}

.tab {
    height: 37px; /* saving 3px for scrollbar */
    width: fit-content;
    max-width: 100px;
    line-height: 37px;

    display: flex;
    flex-direction: row;
    
    color: grey;
    box-sizing: border-box; /* needed to display border-bottom */
    
    padding-left: 3px;
    padding-right: 3px;
    
    user-select: none;
    -webkit-app-region: no-drag; /* not draggable */
    cursor: pointer;
}

.tab:hover {
    
}

.tab-clicked {
    color: rgb(233, 233, 233);
    background-color: #828282;
}

.tab-text {
    font-size: 12px;
    
    display: inline-block;
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-left: 4px;
}

.tab-close-icon {
    content: url('../../../assets/svg/titleBarView/close.svg');
    width: 8px;
    height: 8px;
    
    padding: 5px;
    border-radius: 5px;
    
    margin-left: 4px;
    margin-right: 4px;
}

.tab-close-icon:hover {
    background-color: #e0e0e0;
}
