#action-view-content {
    position: relative;
    width: 100%;
    height:100%;
}

#tree {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    /* animation scrollBar */
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 rgb(255, 255, 255);
    transition: color 0.2s ease;
}

#tree:hover {
    color: rgba(255, 255, 255, 0.8); /* shoud matches text-shadow */
}

#tree ul {
    padding-left: 6px;
}
#tree li {
    padding-left: 6px;
}

.node-root {
    margin: 0;
    text-align: left;
}

.node-folder {
    color: rgb(220, 220, 220);
    font-weight: bold;
    
    display: none;
    margin: 0;
    text-align: left;
    list-style-type: none;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.node-file {
    color: rgb(200, 200, 200);
    font-weight: normal;

    display: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    cursor: pointer;
    list-style-type: none;
    user-select: none;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.node-text {
    height: 26px;
    line-height: 26px;
    
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    
    margin-left: -10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.node-root-text {
    font-weight: bold;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.file-icon::before {
    content: url('../../../assets/svg/actionBarView/file.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(102%) contrast(101%);
}

.folder-icon-expand::before {
    content: url('../../../assets/svg/angle-down.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(102%) contrast(101%);
}

.folder-icon-collapse::before {
    content: url('../../../assets/svg/angle-right.svg');
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(102%) contrast(101%);
}

.node-file:hover, .node-text:hover {
    background-color: #e6e6e6;
}

.node-file:active, .node-text:active {
    background-color: #d8d8d8;
}
