@use 'src/styles/components/layout';
@use 'src/styles/components/visualization';

#explorer-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .side-view-title  {
        
        & .icon {
            margin-top: 2px;
            font-size: 10px;
        }
        
        & > .left-part, .right-part {
            position: absolute;
            display: flex;
            flex-direction: row;
        }
        
        & > .left-part {
            left: 0px;

            & > .icon {
                margin-left: 8px;
            }

            & > .title-text {
                margin-left: 12px;
                user-select: none;
            }
        }
        
        & > .right-part {
            right: 0px;

            & > .icon {
                margin-right: 8px;
                font-size: 14px;
            }
        }
    }

    & .opened-explorer-container, .empty-explorer-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    & .opened-explorer-container {
        & > .toolbar {
            position: relative;
            display: flex;
        
            z-index: 10;
            width: 100%;
            height: 28px;
        
            pointer-events: none;

            &.invisible {
                opacity: 0;
            }
            
            &.visible {
                opacity: 1;
            }
            
            & > .toolbar-container {
                position: absolute;
                right: 8px;
            
                margin-top: 4px;
                margin-bottom: 4px;
            
                border-radius: 8px;
                background-color: var(--toolbar-container-background);
            
                pointer-events: initial;
            }
            
            & .button {
                line-height: 20px;
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
    
    & .empty-explorer-container {

        & > .explorer-open-tag {
            color: transparent;
            transition: 0.1s;
            @include layout.vertical-center;
            @include visualization.text(none, 10pt, center);

            &:hover {
                cursor: pointer;
            }
        }
        
        &:hover > .explorer-open-tag {
            color: #9f9f95;
        }
        
        &:hover > .explorer-open-tag:hover {
            color: rgb(202, 202, 202);
        }
        
        &:hover > .explorer-open-tag:active {
            color: #9f9f95;
        }
    }
}