
.opened-explorer-container > .list-view > .list-view-container > .list-view-row {
    cursor: pointer;
}

.opened-explorer-container > .list-view > .list-view-container > .list-view-row > .icon {
    font-size: 40px;
}

.explorer-item {
    position: relative;
    display: flex;
    height: 100%;
    user-select: none;

    overflow: hidden;
    text-overflow: ellipsis;
}