
.opened-explorer-container > .list-view > .list-view-container > .list-view-row {
    /* 
    The reason using a `outline` instead of `border` is because border is 
    counted as part of the element's dimention and that affects the drag and 
    drop detection.
     */
    outline: 1px solid transparent;
    outline-offset: -1px; /* make the outline placed inside the row. */
}

.opened-explorer-container > .list-view > .list-view-container > .list-view-row:hover {
    background-color: #fcf3f3;
}

.opened-explorer-container > .list-view > .list-view-container > .list-view-row.focused {
    outline: 1px solid #cf6060;
}

.opened-explorer-container > .list-view > .list-view-container > .list-view-row.selected {
    background-color: #f0e8e8;
}

.opened-explorer-container > .list-view > .list-view-container > .list-view-row > .tree-list-row > .icon {
    font-size: 12px;
    margin-right: 4px;
}

.explorer-item {
    position: relative;
    display: flex;
    height: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}