
.tree-list-row {
	position: relative;
    display: flex;
	height: 100%;
    align-items: center;
}

.tree-list-row > .tree-list-indent {
    font-size: 10px;
	text-align: right;
	padding-right: 6px;
	flex-shrink: 0;
	width: 16px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	transform: translateX(3px);
}

.tree-list-row > .tree-list-content {
    flex: 1;
	height: 100%;
    overflow: hidden;
}
