@font-face {
    font-family: "icons";
    src: url("./icons.woff2?c642f91d2bb651a700421363871c2db9") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-addDocument:before {
    content: "\f101";
}
.icon-addFolder:before {
    content: "\f102";
}
.icon-angleDown:before {
    content: "\f103";
}
.icon-caretDown:before {
    content: "\f104";
}
.icon-codeBranch:before {
    content: "\f105";
}
.icon-commentQuestion:before {
    content: "\f106";
}
.icon-cross:before {
    content: "\f107";
}
.icon-folder:before {
    content: "\f108";
}
.icon-list:before {
    content: "\f109";
}
.icon-menuDots:before {
    content: "\f10a";
}
.icon-minuss:before {
    content: "\f10b";
}
.icon-search:before {
    content: "\f10c";
}
.icon-settings:before {
    content: "\f10d";
}
.icon-square:before {
    content: "\f10e";
}
