@font-face {
    font-family: "icons";
    src: url("icons.woff2?2aee244386a76f0530e140fd2652df49") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\f101";
}
.icon-address-book:before {
    content: "\f102";
}
.icon-alarm-clock:before {
    content: "\f103";
}
.icon-align-center:before {
    content: "\f104";
}
.icon-align-justify:before {
    content: "\f105";
}
.icon-align-left:before {
    content: "\f106";
}
.icon-align-right:before {
    content: "\f107";
}
.icon-ambulance:before {
    content: "\f108";
}
.icon-angle-double-left:before {
    content: "\f109";
}
.icon-angle-double-right:before {
    content: "\f10a";
}
.icon-angle-double-small-left:before {
    content: "\f10b";
}
.icon-angle-double-small-right:before {
    content: "\f10c";
}
.icon-angle-down:before {
    content: "\f10d";
}
.icon-angle-left:before {
    content: "\f10e";
}
.icon-angle-right:before {
    content: "\f10f";
}
.icon-angle-small-down:before {
    content: "\f110";
}
.icon-angle-small-left:before {
    content: "\f111";
}
.icon-angle-small-right:before {
    content: "\f112";
}
.icon-angle-small-up:before {
    content: "\f113";
}
.icon-angle-up:before {
    content: "\f114";
}
.icon-apple:before {
    content: "\f115";
}
.icon-apps-add:before {
    content: "\f116";
}
.icon-apps-delete:before {
    content: "\f117";
}
.icon-apps-sort:before {
    content: "\f118";
}
.icon-apps:before {
    content: "\f119";
}
.icon-archive:before {
    content: "\f11a";
}
.icon-arrow-down:before {
    content: "\f11b";
}
.icon-arrow-from-bottom:before {
    content: "\f11c";
}
.icon-arrow-left:before {
    content: "\f11d";
}
.icon-arrow-right:before {
    content: "\f11e";
}
.icon-arrow-small-down:before {
    content: "\f11f";
}
.icon-arrow-small-left:before {
    content: "\f120";
}
.icon-arrow-small-right:before {
    content: "\f121";
}
.icon-arrow-small-up:before {
    content: "\f122";
}
.icon-arrow-up:before {
    content: "\f123";
}
.icon-asterik:before {
    content: "\f124";
}
.icon-at:before {
    content: "\f125";
}
.icon-backpack:before {
    content: "\f126";
}
.icon-badge:before {
    content: "\f127";
}
.icon-balloons:before {
    content: "\f128";
}
.icon-ban:before {
    content: "\f129";
}
.icon-band-aid:before {
    content: "\f12a";
}
.icon-bank:before {
    content: "\f12b";
}
.icon-barber-shop:before {
    content: "\f12c";
}
.icon-baseball:before {
    content: "\f12d";
}
.icon-basketball:before {
    content: "\f12e";
}
.icon-bed:before {
    content: "\f12f";
}
.icon-beer:before {
    content: "\f130";
}
.icon-bell-ring:before {
    content: "\f131";
}
.icon-bell-school:before {
    content: "\f132";
}
.icon-bell:before {
    content: "\f133";
}
.icon-bike:before {
    content: "\f134";
}
.icon-billiard:before {
    content: "\f135";
}
.icon-bold:before {
    content: "\f136";
}
.icon-book-alt:before {
    content: "\f137";
}
.icon-book:before {
    content: "\f138";
}
.icon-bookmark:before {
    content: "\f139";
}
.icon-bowling:before {
    content: "\f13a";
}
.icon-box-alt:before {
    content: "\f13b";
}
.icon-box:before {
    content: "\f13c";
}
.icon-bread-slice:before {
    content: "\f13d";
}
.icon-briefcase:before {
    content: "\f13e";
}
.icon-broom:before {
    content: "\f13f";
}
.icon-browser:before {
    content: "\f140";
}
.icon-brush:before {
    content: "\f141";
}
.icon-bug:before {
    content: "\f142";
}
.icon-building:before {
    content: "\f143";
}
.icon-bulb:before {
    content: "\f144";
}
.icon-butterfly:before {
    content: "\f145";
}
.icon-cake-birthday:before {
    content: "\f146";
}
.icon-cake-wedding:before {
    content: "\f147";
}
.icon-calculator:before {
    content: "\f148";
}
.icon-calendar:before {
    content: "\f149";
}
.icon-call-history:before {
    content: "\f14a";
}
.icon-call-incoming:before {
    content: "\f14b";
}
.icon-call-missed:before {
    content: "\f14c";
}
.icon-call-outgoing:before {
    content: "\f14d";
}
.icon-camera:before {
    content: "\f14e";
}
.icon-camping:before {
    content: "\f14f";
}
.icon-car:before {
    content: "\f150";
}
.icon-caret-down:before {
    content: "\f151";
}
.icon-caret-left:before {
    content: "\f152";
}
.icon-caret-right:before {
    content: "\f153";
}
.icon-caret-up:before {
    content: "\f154";
}
.icon-carrot:before {
    content: "\f155";
}
.icon-chart-connected:before {
    content: "\f156";
}
.icon-chart-histogram:before {
    content: "\f157";
}
.icon-chart-network:before {
    content: "\f158";
}
.icon-chart-pie-alt:before {
    content: "\f159";
}
.icon-chart-pie:before {
    content: "\f15a";
}
.icon-chart-pyramid:before {
    content: "\f15b";
}
.icon-chart-set-theory:before {
    content: "\f15c";
}
.icon-chart-tree:before {
    content: "\f15d";
}
.icon-chat-arrow-down:before {
    content: "\f15e";
}
.icon-chat-arrow-grow:before {
    content: "\f15f";
}
.icon-check:before {
    content: "\f160";
}
.icon-checkbox:before {
    content: "\f161";
}
.icon-cheese:before {
    content: "\f162";
}
.icon-chess-piece:before {
    content: "\f163";
}
.icon-child-head:before {
    content: "\f164";
}
.icon-circle-small:before {
    content: "\f165";
}
.icon-circle:before {
    content: "\f166";
}
.icon-clip:before {
    content: "\f167";
}
.icon-clock:before {
    content: "\f168";
}
.icon-cloud-check:before {
    content: "\f169";
}
.icon-cloud-disabled:before {
    content: "\f16a";
}
.icon-cloud-download:before {
    content: "\f16b";
}
.icon-cloud-share:before {
    content: "\f16c";
}
.icon-cloud-upload:before {
    content: "\f16d";
}
.icon-cloud:before {
    content: "\f16e";
}
.icon-clouds:before {
    content: "\f16f";
}
.icon-cocktail:before {
    content: "\f170";
}
.icon-coffee:before {
    content: "\f171";
}
.icon-comment-alt:before {
    content: "\f172";
}
.icon-comment-check:before {
    content: "\f173";
}
.icon-comment-heart:before {
    content: "\f174";
}
.icon-comment-info:before {
    content: "\f175";
}
.icon-comment-user:before {
    content: "\f176";
}
.icon-comment:before {
    content: "\f177";
}
.icon-comments:before {
    content: "\f178";
}
.icon-compress-alt:before {
    content: "\f179";
}
.icon-compress:before {
    content: "\f17a";
}
.icon-computer:before {
    content: "\f17b";
}
.icon-confetti:before {
    content: "\f17c";
}
.icon-cookie:before {
    content: "\f17d";
}
.icon-copy-alt:before {
    content: "\f17e";
}
.icon-copy:before {
    content: "\f17f";
}
.icon-copyright:before {
    content: "\f180";
}
.icon-cow:before {
    content: "\f181";
}
.icon-cream:before {
    content: "\f182";
}
.icon-credit-card:before {
    content: "\f183";
}
.icon-croissant:before {
    content: "\f184";
}
.icon-cross-circle:before {
    content: "\f185";
}
.icon-cross-small:before {
    content: "\f186";
}
.icon-cross:before {
    content: "\f187";
}
.icon-crown:before {
    content: "\f188";
}
.icon-cube:before {
    content: "\f189";
}
.icon-cupcake:before {
    content: "\f18a";
}
.icon-cursor-finger:before {
    content: "\f18b";
}
.icon-cursor-plus:before {
    content: "\f18c";
}
.icon-cursor-text-alt:before {
    content: "\f18d";
}
.icon-cursor-text:before {
    content: "\f18e";
}
.icon-cursor:before {
    content: "\f18f";
}
.icon-dart:before {
    content: "\f190";
}
.icon-dashboard:before {
    content: "\f191";
}
.icon-data-transfer:before {
    content: "\f192";
}
.icon-database:before {
    content: "\f193";
}
.icon-delete:before {
    content: "\f194";
}
.icon-diamond:before {
    content: "\f195";
}
.icon-dice:before {
    content: "\f196";
}
.icon-diploma:before {
    content: "\f197";
}
.icon-disco-ball:before {
    content: "\f198";
}
.icon-disk:before {
    content: "\f199";
}
.icon-doctor:before {
    content: "\f19a";
}
.icon-document-signed:before {
    content: "\f19b";
}
.icon-document:before {
    content: "\f19c";
}
.icon-dollar:before {
    content: "\f19d";
}
.icon-download:before {
    content: "\f19e";
}
.icon-drink-alt:before {
    content: "\f19f";
}
.icon-drumstick:before {
    content: "\f1a0";
}
.icon-duplicate:before {
    content: "\f1a1";
}
.icon-e-learning:before {
    content: "\f1a2";
}
.icon-earnings:before {
    content: "\f1a3";
}
.icon-edit-alt:before {
    content: "\f1a4";
}
.icon-edit:before {
    content: "\f1a5";
}
.icon-envelope-ban:before {
    content: "\f1a6";
}
.icon-envelope-download:before {
    content: "\f1a7";
}
.icon-envelope-marker:before {
    content: "\f1a8";
}
.icon-envelope-open:before {
    content: "\f1a9";
}
.icon-envelope-plus:before {
    content: "\f1aa";
}
.icon-envelope:before {
    content: "\f1ab";
}
.icon-euro:before {
    content: "\f1ac";
}
.icon-exclamation:before {
    content: "\f1ad";
}
.icon-expand:before {
    content: "\f1ae";
}
.icon-eye-crossed:before {
    content: "\f1af";
}
.icon-eye-dropper:before {
    content: "\f1b0";
}
.icon-eye:before {
    content: "\f1b1";
}
.icon-feather:before {
    content: "\f1b2";
}
.icon-ferris-wheel:before {
    content: "\f1b3";
}
.icon-file-add:before {
    content: "\f1b4";
}
.icon-file-ai:before {
    content: "\f1b5";
}
.icon-file-check:before {
    content: "\f1b6";
}
.icon-file-delete:before {
    content: "\f1b7";
}
.icon-file-eps:before {
    content: "\f1b8";
}
.icon-file-gif:before {
    content: "\f1b9";
}
.icon-file-music:before {
    content: "\f1ba";
}
.icon-file-psd:before {
    content: "\f1bb";
}
.icon-file:before {
    content: "\f1bc";
}
.icon-fill:before {
    content: "\f1bd";
}
.icon-film:before {
    content: "\f1be";
}
.icon-filter:before {
    content: "\f1bf";
}
.icon-fingerprint:before {
    content: "\f1c0";
}
.icon-fish:before {
    content: "\f1c1";
}
.icon-flag:before {
    content: "\f1c2";
}
.icon-flame:before {
    content: "\f1c3";
}
.icon-flip-horizontal:before {
    content: "\f1c4";
}
.icon-flower-bouquet:before {
    content: "\f1c5";
}
.icon-flower-tulip:before {
    content: "\f1c6";
}
.icon-flower:before {
    content: "\f1c7";
}
.icon-folder-add:before {
    content: "\f1c8";
}
.icon-folder:before {
    content: "\f1c9";
}
.icon-following:before {
    content: "\f1ca";
}
.icon-football:before {
    content: "\f1cb";
}
.icon-form:before {
    content: "\f1cc";
}
.icon-forward:before {
    content: "\f1cd";
}
.icon-fox:before {
    content: "\f1ce";
}
.icon-frown:before {
    content: "\f1cf";
}
.icon-ftp:before {
    content: "\f1d0";
}
.icon-gallery:before {
    content: "\f1d1";
}
.icon-gamepad:before {
    content: "\f1d2";
}
.icon-gas-pump:before {
    content: "\f1d3";
}
.icon-gem:before {
    content: "\f1d4";
}
.icon-gift:before {
    content: "\f1d5";
}
.icon-glass-cheers:before {
    content: "\f1d6";
}
.icon-glasses:before {
    content: "\f1d7";
}
.icon-globe-alt:before {
    content: "\f1d8";
}
.icon-globe:before {
    content: "\f1d9";
}
.icon-golf:before {
    content: "\f1da";
}
.icon-graduation-cap:before {
    content: "\f1db";
}
.icon-graphic-tablet:before {
    content: "\f1dc";
}
.icon-grid-alt:before {
    content: "\f1dd";
}
.icon-grid:before {
    content: "\f1de";
}
.icon-guitar:before {
    content: "\f1df";
}
.icon-gym:before {
    content: "\f1e0";
}
.icon-hamburger:before {
    content: "\f1e1";
}
.icon-hand-holding-heart:before {
    content: "\f1e2";
}
.icon-hastag:before {
    content: "\f1e3";
}
.icon-hat-birthday:before {
    content: "\f1e4";
}
.icon-head-side-thinking:before {
    content: "\f1e5";
}
.icon-headphones:before {
    content: "\f1e6";
}
.icon-headset:before {
    content: "\f1e7";
}
.icon-heart-arrow:before {
    content: "\f1e8";
}
.icon-heart:before {
    content: "\f1e9";
}
.icon-home-location-alt:before {
    content: "\f1ea";
}
.icon-home-location:before {
    content: "\f1eb";
}
.icon-home:before {
    content: "\f1ec";
}
.icon-hourglass-end:before {
    content: "\f1ed";
}
.icon-hourglass:before {
    content: "\f1ee";
}
.icon-ice-cream:before {
    content: "\f1ef";
}
.icon-ice-skate:before {
    content: "\f1f0";
}
.icon-id-badge:before {
    content: "\f1f1";
}
.icon-inbox:before {
    content: "\f1f2";
}
.icon-incognito:before {
    content: "\f1f3";
}
.icon-indent:before {
    content: "\f1f4";
}
.icon-infinity:before {
    content: "\f1f5";
}
.icon-info:before {
    content: "\f1f6";
}
.icon-interactive:before {
    content: "\f1f7";
}
.icon-interlining:before {
    content: "\f1f8";
}
.icon-interrogation:before {
    content: "\f1f9";
}
.icon-italic:before {
    content: "\f1fa";
}
.icon-jpg:before {
    content: "\f1fb";
}
.icon-key:before {
    content: "\f1fc";
}
.icon-keyboard:before {
    content: "\f1fd";
}
.icon-kite:before {
    content: "\f1fe";
}
.icon-label:before {
    content: "\f1ff";
}
.icon-laptop:before {
    content: "\f200";
}
.icon-lasso:before {
    content: "\f201";
}
.icon-laugh:before {
    content: "\f202";
}
.icon-layers:before {
    content: "\f203";
}
.icon-layout-fluid:before {
    content: "\f204";
}
.icon-leaf:before {
    content: "\f205";
}
.icon-letter-case:before {
    content: "\f206";
}
.icon-life-ring:before {
    content: "\f207";
}
.icon-line-width:before {
    content: "\f208";
}
.icon-link:before {
    content: "\f209";
}
.icon-lipstick:before {
    content: "\f20a";
}
.icon-list-check:before {
    content: "\f20b";
}
.icon-list:before {
    content: "\f20c";
}
.icon-location-alt:before {
    content: "\f20d";
}
.icon-lock-alt:before {
    content: "\f20e";
}
.icon-lock:before {
    content: "\f20f";
}
.icon-luggage-rolling:before {
    content: "\f210";
}
.icon-magic-wand:before {
    content: "\f211";
}
.icon-makeup-brush:before {
    content: "\f212";
}
.icon-man-head:before {
    content: "\f213";
}
.icon-map-marker-cross:before {
    content: "\f214";
}
.icon-map-marker-home:before {
    content: "\f215";
}
.icon-map-marker-minus:before {
    content: "\f216";
}
.icon-map-marker-plus:before {
    content: "\f217";
}
.icon-map-marker:before {
    content: "\f218";
}
.icon-map:before {
    content: "\f219";
}
.icon-marker-time:before {
    content: "\f21a";
}
.icon-marker:before {
    content: "\f21b";
}
.icon-mars-double:before {
    content: "\f21c";
}
.icon-mars:before {
    content: "\f21d";
}
.icon-mask-carnival:before {
    content: "\f21e";
}
.icon-medicine:before {
    content: "\f21f";
}
.icon-megaphone:before {
    content: "\f220";
}
.icon-meh:before {
    content: "\f221";
}
.icon-menu-burger:before {
    content: "\f222";
}
.icon-menu-dots-vertical:before {
    content: "\f223";
}
.icon-menu-dots:before {
    content: "\f224";
}
.icon-microphone-alt:before {
    content: "\f225";
}
.icon-microphone:before {
    content: "\f226";
}
.icon-minus-small:before {
    content: "\f227";
}
.icon-minus:before {
    content: "\f228";
}
.icon-mobile:before {
    content: "\f229";
}
.icon-mode-landscape:before {
    content: "\f22a";
}
.icon-mode-portrait:before {
    content: "\f22b";
}
.icon-money:before {
    content: "\f22c";
}
.icon-moon:before {
    content: "\f22d";
}
.icon-mountains:before {
    content: "\f22e";
}
.icon-mouse:before {
    content: "\f22f";
}
.icon-mug-alt:before {
    content: "\f230";
}
.icon-music-alt:before {
    content: "\f231";
}
.icon-music:before {
    content: "\f232";
}
.icon-navigation:before {
    content: "\f233";
}
.icon-network-cloud:before {
    content: "\f234";
}
.icon-network:before {
    content: "\f235";
}
.icon-notebook:before {
    content: "\f236";
}
.icon-opacity:before {
    content: "\f237";
}
.icon-package:before {
    content: "\f238";
}
.icon-paint-brush:before {
    content: "\f239";
}
.icon-palette:before {
    content: "\f23a";
}
.icon-paper-plane:before {
    content: "\f23b";
}
.icon-password:before {
    content: "\f23c";
}
.icon-pause:before {
    content: "\f23d";
}
.icon-paw:before {
    content: "\f23e";
}
.icon-pencil:before {
    content: "\f23f";
}
.icon-pharmacy:before {
    content: "\f240";
}
.icon-phone-call:before {
    content: "\f241";
}
.icon-phone-cross:before {
    content: "\f242";
}
.icon-phone-pause:before {
    content: "\f243";
}
.icon-phone-slash:before {
    content: "\f244";
}
.icon-physics:before {
    content: "\f245";
}
.icon-picture:before {
    content: "\f246";
}
.icon-ping-pong:before {
    content: "\f247";
}
.icon-pizza-slice:before {
    content: "\f248";
}
.icon-plane:before {
    content: "\f249";
}
.icon-play-alt:before {
    content: "\f24a";
}
.icon-play:before {
    content: "\f24b";
}
.icon-playing-cards:before {
    content: "\f24c";
}
.icon-plus-small:before {
    content: "\f24d";
}
.icon-plus:before {
    content: "\f24e";
}
.icon-poker-chip:before {
    content: "\f24f";
}
.icon-portrait:before {
    content: "\f250";
}
.icon-pound:before {
    content: "\f251";
}
.icon-power:before {
    content: "\f252";
}
.icon-presentation:before {
    content: "\f253";
}
.icon-print:before {
    content: "\f254";
}
.icon-protractor:before {
    content: "\f255";
}
.icon-pulse:before {
    content: "\f256";
}
.icon-pyramid:before {
    content: "\f257";
}
.icon-quote-right:before {
    content: "\f258";
}
.icon-rainbow:before {
    content: "\f259";
}
.icon-raindrops:before {
    content: "\f25a";
}
.icon-rec:before {
    content: "\f25b";
}
.icon-receipt:before {
    content: "\f25c";
}
.icon-record-vinyl:before {
    content: "\f25d";
}
.icon-rectabgle-vertical:before {
    content: "\f25e";
}
.icon-rectangle-horizontal:before {
    content: "\f25f";
}
.icon-rectangle-panoramic:before {
    content: "\f260";
}
.icon-recycle:before {
    content: "\f261";
}
.icon-redo-alt:before {
    content: "\f262";
}
.icon-redo:before {
    content: "\f263";
}
.icon-reflect:before {
    content: "\f264";
}
.icon-refresh:before {
    content: "\f265";
}
.icon-resize:before {
    content: "\f266";
}
.icon-resources:before {
    content: "\f267";
}
.icon-rewind:before {
    content: "\f268";
}
.icon-rhombus:before {
    content: "\f269";
}
.icon-rings-wedding:before {
    content: "\f26a";
}
.icon-road:before {
    content: "\f26b";
}
.icon-rocket:before {
    content: "\f26c";
}
.icon-room-service:before {
    content: "\f26d";
}
.icon-rotate-right:before {
    content: "\f26e";
}
.icon-rugby:before {
    content: "\f26f";
}
.icon-sad:before {
    content: "\f270";
}
.icon-salad:before {
    content: "\f271";
}
.icon-scale:before {
    content: "\f272";
}
.icon-school-bus:before {
    content: "\f273";
}
.icon-school:before {
    content: "\f274";
}
.icon-scissors:before {
    content: "\f275";
}
.icon-screen:before {
    content: "\f276";
}
.icon-search-alt:before {
    content: "\f277";
}
.icon-search-heart:before {
    content: "\f278";
}
.icon-search:before {
    content: "\f279";
}
.icon-settings-sliders:before {
    content: "\f27a";
}
.icon-settings:before {
    content: "\f27b";
}
.icon-share:before {
    content: "\f27c";
}
.icon-shield-check:before {
    content: "\f27d";
}
.icon-shield-exclamation:before {
    content: "\f27e";
}
.icon-shield-interrogation:before {
    content: "\f27f";
}
.icon-shield-plus:before {
    content: "\f280";
}
.icon-shield:before {
    content: "\f281";
}
.icon-ship-side:before {
    content: "\f282";
}
.icon-ship:before {
    content: "\f283";
}
.icon-shop:before {
    content: "\f284";
}
.icon-shopping-bag-add:before {
    content: "\f285";
}
.icon-shopping-bag:before {
    content: "\f286";
}
.icon-shopping-cart-add:before {
    content: "\f287";
}
.icon-shopping-cart-check:before {
    content: "\f288";
}
.icon-shopping-cart:before {
    content: "\f289";
}
.icon-shuffle:before {
    content: "\f28a";
}
.icon-sign-in-alt:before {
    content: "\f28b";
}
.icon-sign-in:before {
    content: "\f28c";
}
.icon-sign-out-alt:before {
    content: "\f28d";
}
.icon-sign-out:before {
    content: "\f28e";
}
.icon-signal-alt-1:before {
    content: "\f28f";
}
.icon-signal-alt-2:before {
    content: "\f290";
}
.icon-signal-alt:before {
    content: "\f291";
}
.icon-skateboard:before {
    content: "\f292";
}
.icon-smartphone:before {
    content: "\f293";
}
.icon-smile-wink:before {
    content: "\f294";
}
.icon-smile:before {
    content: "\f295";
}
.icon-snowflake:before {
    content: "\f296";
}
.icon-soap:before {
    content: "\f297";
}
.icon-soup:before {
    content: "\f298";
}
.icon-spa:before {
    content: "\f299";
}
.icon-speaker:before {
    content: "\f29a";
}
.icon-sphere:before {
    content: "\f29b";
}
.icon-spinner-alt:before {
    content: "\f29c";
}
.icon-spinner:before {
    content: "\f29d";
}
.icon-square-root:before {
    content: "\f29e";
}
.icon-square:before {
    content: "\f29f";
}
.icon-star-octogram:before {
    content: "\f2a0";
}
.icon-star:before {
    content: "\f2a1";
}
.icon-stats:before {
    content: "\f2a2";
}
.icon-stethoscope:before {
    content: "\f2a3";
}
.icon-sticker:before {
    content: "\f2a4";
}
.icon-stop:before {
    content: "\f2a5";
}
.icon-stopwatch:before {
    content: "\f2a6";
}
.icon-subtitles:before {
    content: "\f2a7";
}
.icon-sun:before {
    content: "\f2a8";
}
.icon-sunrise:before {
    content: "\f2a9";
}
.icon-surfing:before {
    content: "\f2aa";
}
.icon-sword:before {
    content: "\f2ab";
}
.icon-syringe:before {
    content: "\f2ac";
}
.icon-tablet:before {
    content: "\f2ad";
}
.icon-target:before {
    content: "\f2ae";
}
.icon-taxi:before {
    content: "\f2af";
}
.icon-tennis:before {
    content: "\f2b0";
}
.icon-terrace:before {
    content: "\f2b1";
}
.icon-test-tube:before {
    content: "\f2b2";
}
.icon-test:before {
    content: "\f2b3";
}
.icon-text-check:before {
    content: "\f2b4";
}
.icon-text:before {
    content: "\f2b5";
}
.icon-thermometer-half:before {
    content: "\f2b6";
}
.icon-thumbs-down:before {
    content: "\f2b7";
}
.icon-thumbs-up:before {
    content: "\f2b8";
}
.icon-thumbtack:before {
    content: "\f2b9";
}
.icon-ticket:before {
    content: "\f2ba";
}
.icon-time-add:before {
    content: "\f2bb";
}
.icon-time-check:before {
    content: "\f2bc";
}
.icon-time-delete:before {
    content: "\f2bd";
}
.icon-time-fast:before {
    content: "\f2be";
}
.icon-time-forward-sixty:before {
    content: "\f2bf";
}
.icon-time-forward-ten:before {
    content: "\f2c0";
}
.icon-time-forward:before {
    content: "\f2c1";
}
.icon-time-half-past:before {
    content: "\f2c2";
}
.icon-time-oclock:before {
    content: "\f2c3";
}
.icon-time-past:before {
    content: "\f2c4";
}
.icon-time-quarter-past:before {
    content: "\f2c5";
}
.icon-time-quarter-to:before {
    content: "\f2c6";
}
.icon-time-twenty-four:before {
    content: "\f2c7";
}
.icon-tool-crop:before {
    content: "\f2c8";
}
.icon-tool-marquee:before {
    content: "\f2c9";
}
.icon-tooth:before {
    content: "\f2ca";
}
.icon-tornado:before {
    content: "\f2cb";
}
.icon-train-side:before {
    content: "\f2cc";
}
.icon-train:before {
    content: "\f2cd";
}
.icon-transform:before {
    content: "\f2ce";
}
.icon-trash:before {
    content: "\f2cf";
}
.icon-treatment:before {
    content: "\f2d0";
}
.icon-tree-christmas:before {
    content: "\f2d1";
}
.icon-tree:before {
    content: "\f2d2";
}
.icon-triangle:before {
    content: "\f2d3";
}
.icon-trophy:before {
    content: "\f2d4";
}
.icon-truck-side:before {
    content: "\f2d5";
}
.icon-umbrella:before {
    content: "\f2d6";
}
.icon-underline:before {
    content: "\f2d7";
}
.icon-undo-alt:before {
    content: "\f2d8";
}
.icon-undo:before {
    content: "\f2d9";
}
.icon-unlock:before {
    content: "\f2da";
}
.icon-upload:before {
    content: "\f2db";
}
.icon-usb-pendrive:before {
    content: "\f2dc";
}
.icon-user-add:before {
    content: "\f2dd";
}
.icon-user-delete:before {
    content: "\f2de";
}
.icon-user-remove:before {
    content: "\f2df";
}
.icon-user-time:before {
    content: "\f2e0";
}
.icon-user:before {
    content: "\f2e1";
}
.icon-utensils:before {
    content: "\f2e2";
}
.icon-vector-alt:before {
    content: "\f2e3";
}
.icon-vector:before {
    content: "\f2e4";
}
.icon-venus-double:before {
    content: "\f2e5";
}
.icon-venus-mars:before {
    content: "\f2e6";
}
.icon-venus:before {
    content: "\f2e7";
}
.icon-video-camera:before {
    content: "\f2e8";
}
.icon-volleyball:before {
    content: "\f2e9";
}
.icon-volume:before {
    content: "\f2ea";
}
.icon-wheelchair:before {
    content: "\f2eb";
}
.icon-wifi-alt:before {
    content: "\f2ec";
}
.icon-wind:before {
    content: "\f2ed";
}
.icon-woman-head:before {
    content: "\f2ee";
}
.icon-world:before {
    content: "\f2ef";
}
.icon-yen:before {
    content: "\f2f0";
}
.icon-zoom-in:before {
    content: "\f2f1";
}
.icon-zoom-out:before {
    content: "\f2f2";
}
