@font-face {
    font-family: "icons";
    src: url("./icons.ttf") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-new:before {
    content: "\f101";
}
.icon-arrow-right:before {
    content: "\f102";
}
.icon-close:before {
    content: "\f103";
}
.icon-cloud-upload:before {
    content: "\f104";
}
.icon-collapse-all:before {
    content: "\f105";
}
.icon-command:before {
    content: "\f106";
}
.icon-create-new-folder:before {
    content: "\f107";
}
.icon-create-new-note:before {
    content: "\f108";
}
.icon-extension:before {
    content: "\f109";
}
.icon-folder-default:before {
    content: "\f10a";
}
.icon-folder-open:before {
    content: "\f10b";
}
.icon-help:before {
    content: "\f10c";
}
.icon-maxmize-window:before {
    content: "\f10d";
}
.icon-minimize-window:before {
    content: "\f10e";
}
.icon-more-horiz:before {
    content: "\f10f";
}
.icon-nota-ai-default:before {
    content: "\f110";
}
.icon-nota-ai-on:before {
    content: "\f111";
}
.icon-notification-active:before {
    content: "\f112";
}
.icon-notification-unread:before {
    content: "\f113";
}
.icon-notifications-off:before {
    content: "\f114";
}
.icon-outline:before {
    content: "\f115";
}
.icon-restore-window:before {
    content: "\f116";
}
.icon-search:before {
    content: "\f117";
}
.icon-setting:before {
    content: "\f118";
}
.icon-sort-by-alpha:before {
    content: "\f119";
}
.icon-source-contorl-on:before {
    content: "\f11a";
}
.icon-source-control-default:before {
    content: "\f11b";
}
